<?xml version="1.0" encoding="utf-8" ?>
<cedar.caching defaultProvider="dbProvider">
  <cachingProviders>
    <add name="dbProvider" type="Cedar.Framework.Caching.Redis.RedisCachingProvider, Cedar.Framework.Caching" server="172.16.0.204" password="2257013F03EA762AB1559A00F22D2F86" database="3" enabled="true" expiration="120" />
  </cachingProviders>
</cedar.caching>