
@{
    ViewBag.Title = "CarEdit";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<link href="~/Content/cover.css" rel="stylesheet" />
<script>

    function showloading() {
        $('.theme-popover-mask').show();
        $('.theme-popover').show();
    }
    function hideloading() {
        $('.theme-popover-mask').hide();
        $('.theme-popover').hide();
    }

</script>
<script type="text/javascript">

    var custid = "@ViewBag.custid";
    var id = "@ViewBag.carid";

    $(function() {
        InitBrand();
        InitProv();
        InitCode();
        Init();
    });

    //初始化品牌
    function InitBrand() {
        $("#selectbrand").empty();
        $("#selectbrand").append("<option value='0'>请选择</option>");

        $.ajax({
            url: "/api/Base/GetCarBrand",
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function(data) {
                data = data.errmsg;
                $.each(data, function(k, v) {
                    $("#selectbrand").append("<option value='" + v.Innerid + "'>" + v.BrandName + "</option>");
                });
            }
        });
    }

    //初始化车系
    function InitSeries(brandid) {
        $("#selectseries").empty();
        $("#selectseries").append("<option value='0'>请选择</option>");

        $.ajax({
            url: "/api/Base/GetCarSeries?brandId=" + brandid,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function(data) {
                data = data.errmsg;
                $.each(data, function(k, v) {
                    $("#selectseries").append("<option value='" + v.Innerid + "'>" + v.SeriesName + "</option>");
                });
            }
        });
    }

    //初始化车型
    function InitModel(seriesid) {
        $("#selectmodel").empty();
        $("#selectmodel").append("<option value='0'>请选择</option>");

        $.ajax({
            url: "/api/Base/GetCarModel?seriesId=" + seriesid,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function(data) {
                data = data.errmsg;
                $.each(data, function(k, v) {
                    $("#selectmodel").append("<option value='" + v.Innerid + "'>" + v.Modelname + "</option>");
                });
            }
        });
    }

    function GetModelInfo(modelid) {

        $.ajax({
            url: "/api/Base/GetCarModelById?innerid=" + modelid,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function(data) {
                $("#selectregyear").empty();
                $("#selectregyear").append("<option value='0'>请选择</option>");
                var model = data.errmsg;
                for (var i = model.Minregyear; i <= model.Maxregyear; i++) {
                    $("#selectregyear").append("<option value='" + i + "'>" + i + "</option>");
                }

                $("#selectregmonth").empty();
                $("#selectregmonth").append("<option value='0'>请选择</option>");
                for (var j = 1; j <= 12; j++) {

                    var val = j < 10 ? ("0" + j) : j;
                    $("#selectregmonth").append("<option value='" + val + "'>" + val + "</option>");
                }
            }
        });
    }

    //初始化省份
    function InitProv() {
        $("#selectprov").empty();
        $("#selectprov").append("<option value='0'>请选择</option>");

        $.ajax({
            url: "/api/Base/GetProvList",
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function(data) {
                data = data.errmsg;
                $.each(data, function(k, v) {
                    $("#selectprov").append("<option value='" + v.Innerid + "'>" + v.ProvName + "</option>");
                });
            }
        });
    }

    //初始化城市
    function InitCity(provid) {
        $("#selectcity").empty();
        $("#selectcity").append("<option value='0'>请选择</option>");

        $.ajax({
            url: "/api/Base/GetCityList/?provid=" + provid,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function(data) {
                data = data.errmsg;
                $.each(data, function(k, v) {
                    $("#selectcity").append("<option value='" + v.Innerid + "'>" + v.CityName + "</option>");
                });
            }
        });
    }

    //初始化颜色
    function InitCode() {
        $("#selectcolor").empty();
        $("#selectcolor").append("<option value='0'>请选择</option>");

        $.ajax({
            url: "/api/Base/GetCodeByTypeKey?typekey=car_color",
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function(data) {
                data = data.errmsg;
                $.each(data, function(k, v) {
                    $("#selectcolor").append("<option value='" + v.CodeValue + "'>" + v.CodeName + "</option>");
                });
            }
        });
    }

    function Init() {

        if (id === "") {
            return;
        }

        $.get("/api/Car/GetCarInfoById?id=" + id, function(data) {
            if (data.errcode !== 0) {
                alert("获取数据异常！");
            }

            console.log(data);

            var obj = data.errmsg;

            $("#selectbrand").selectVal(obj.brand_id);

            InitSeries(obj.brand_id);

            $("#selectseries").selectVal(obj.series_id);

            InitModel(obj.series_id);

            $("#selectmodel").selectVal(obj.model_id);

            $("#selectprov").selectVal(obj.provid);

            InitCity(obj.provid);

            $("#selectcity").selectVal(obj.cityid);

            $("#selectcolor").selectVal(obj.colorid);

            $("#txtmileage").val(obj.mileage);

            GetModelInfo(obj.model_id);

            var dataArr = obj.register_date.split('-');

            $("#selectregyear").selectVal(dataArr[0]);
            $("#selectregmonth").selectVal(dataArr[1]);

            //更多信息

            $("#txtbuydate").val(Dateformat(obj.buytime, "yyyy-MM-dd"));
            $("#txtbuyprice").val(obj.buyprice);
            $("#txtsoldyprice").val(obj.price);

            $("input[name='radioisproblem'][value=" + obj.isproblem + "]").prop("checked", true);
            $("input[name='radioistain'][value=" + obj.istain + "]").prop("checked", true);

            $("#caresc").val(obj.remark);

            //$("#imgList").append("<div><img style=\"max-width: 180px;max-height:180px;margin-top:5px\" src=\"" + getQiniuUrl(obj.pic_url) + "\" /></div>");

            $.get("/api/Car/GetCarPictureByCarid?carid=" + id, function(data) {

                $.each(data.errmsg, function(k, v) {
                    if (k === 0) {
                        $("#imgList").append("<div style='vertical-align:top'><img style=\"max-width: 180px;max-height:180px;margin-top:5px\" src=\"" + getQiniuUrl(v.Path) + "\" />封面图 <span style='cursor:pointer' onclick=\"DeletePicture('" + v.Innerid + "',this)\"> X </span></div>");
                    } else {
                        $("#imgList").append("<div style='vertical-align:top'><img style=\"max-width: 150px;max-height:150px;margin-top:5px\" src=\"" + getQiniuUrl(v.Path) + "\" /><span style='cursor:pointer' onclick=\"DeletePicture('" + v.Innerid + "',this)\"> X </span></div>");
                    }
                });
            });
        });
    }

    function DeletePicture(picid, obj) {

        if (!confirm("确定删除？")) {
            return;
        }

        $.ajax({
            url: "/api/Car/DeleteCarPicture?innerid=" + picid,
            type: 'delete',
            datatype: 'application/json',
            async: false,
            success: function(data) {
                if (data.errcode === 0) {
                    //alert("删除成功");
                    $(obj).parent().remove();
                }
            }
        });
    }

    function Submit() {

        var brandid = $("#selectbrand").val();
        var seriesid = $("#selectseries").val();
        var modelid = $("#selectmodel").val();

        if (modelid === "0") {
            alert("请选择车型！");
            return false;
        }

        var provid = $("#selectprov").val();
        var cityid = $("#selectcity").val();

        if (cityid === "0") {
            alert("请选择城市！");
            return false;
        }

        var colorid = $("#selectcolor").val();
        var txtmileage = $("#txtmileage").val();

        var regyear = $("#selectregyear").val();
        var regmonth = $("#selectregmonth").val();

        if (colorid === "0") {
            alert("请选择颜色！");
            return false;
        }

        if ($.trim(txtmileage).length === 0) {
            alert("请填写里程数！");
            return false;
        }

        var re = /^\d*\.{0,1}\d{0,1}$/;
        if (!re.test(txtmileage)) {
            alert("里程数只能输入数字！");
            return false;
        }

        if (regyear === "0") {
            alert("请选择上牌年份！");
            return false;
        }
        if (regmonth === "0") {
            alert("请选择上牌月份！");
            return false;
        }

        //更多信息

        var txtbuydate = $("#txtbuydate").val();
        var txtbuyprice = $("#txtbuyprice").val();
        var txtsoldyprice = $("#txtsoldyprice").val();

        if ($.trim(txtbuydate).length === 0) {
            alert("请选择收购日期！");
            return false;
        }

        if ($.trim(txtbuyprice).length === 0) {
            alert("请填写收购价格！");
            return false;
        }

        if (!re.test(txtbuyprice)) {
            alert("收购价格只能输入数字！");
            return false;
        }

        if ($.trim(txtsoldyprice).length === 0) {
            alert("请填写待售价格！");
            return false;
        }

        if (!re.test(txtsoldyprice)) {
            alert("待售价格只能输入数字！");
            return false;
        }

        var isproblem = $("input:radio[name='radioisproblem']:checked").val();
        var istain = $("input:radio[name='radioistain']:checked").val();

        var caresc = $("#caresc").val();

        var json = {
            custid: custid,
            brand_id: brandid,
            series_id: seriesid,
            model_id: modelid,
            provid: provid,
            cityid: cityid,
            colorid: colorid,
            buytime: txtbuydate,
            buyprice: txtbuyprice,
            mileage: txtmileage,
            register_date: regyear + "-" + regmonth + "-01 00:00:00",
            price: txtsoldyprice,
            isproblem: isproblem,
            istain: istain,
            remark: caresc
        };

        //showloading();  //显示遮罩 （目前ajax processData参数 影响显示不出来）
        var keysRes;
        uploadfile("picture", 1024 * 2, "", "car_picture", function(res) {
            keysRes = res;
        }, null, 9);

        if (keysRes === "0") {
            alert('请上传图片');
            return false;
        } else if (keysRes === "-1") {
            alert('图片格式不正确');
            return false;
        } else if (keysRes === "-2") {
            alert('上传异常');
            return false;
        } else if (keysRes === "-3") {
            alert('文件大小超出');
            return false;
        } else if (keysRes === "-4") {
            alert('请最多上传9张图片');
            return false;
        }

        console.log(json);

        if (id === "") {
            $.post("/api/Car/AddCar", json, function(result) {
                hideloading();
                if (result.errcode === 0) {
                    var carid = result.errmsg;
                    $.post("/api/Car/AddCarPictureKeyList", { Carid: carid, KeyList: keysRes.split(',') }, function() {

                    });
                    alert("添加成功");
                    location.href = "/car/car/carlist?custid=" + custid;
                } else {
                    alert("添加失败:" + result.errmsg);
                }

            });
        } else {
            json.Innerid = id;
            $.post("/api/Car/UpdateCar", json, function(result) {
                hideloading();
                if (result.errcode === 0) {

                    $.post("/api/Car/AddCarPictureKeyList", { Carid: id, KeyList: keysRes.split(',') }, function() {

                    });
                    alert("修改成功");
                    location.reload();
                } else {
                    alert("修改失败:" + result.errmsg);
                }
            });
        }
        return false;
    }

    function goList() {
        location.href = "/car/car/carlist?custid=" + custid;
    }

</script>
<div>
    <div style="font-size: 18px; font-weight: bold; text-align: center">车辆添加</div>
    <table id="cartable" class="gridtable">
        <tbody>
        <tr>
            <td colspan="2" style="background-color: #ccc">车辆基本信息</td>
        </tr>
        <tr>
            <td>选车</td>
            <td>
                <select id="selectbrand" onchange="InitSeries(this.options[this.options.selectedIndex].value)">
                    <option value="0">请选择</option>
                </select>
                <select id="selectseries" onchange="InitModel(this.options[this.options.selectedIndex].value)">
                    <option value="0">请选择</option>
                </select>
                <select id="selectmodel" onchange="GetModelInfo(this.options[this.options.selectedIndex].value)">
                    <option value="0">请选择</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>地区</td>
            <td>
                <select id="selectprov" onchange="InitCity(this.options[this.options.selectedIndex].value)">
                    <option value="0">请选择</option>
                </select>
                <select id="selectcity">
                    <option value="0">请选择</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>颜色</td>
            <td>
                <select id="selectcolor"></select>
            </td>
        </tr>
        <tr>
            <td>行驶里程</td>
            <td>
                <input type="text" id="txtmileage" placeholder="行驶里程"/> 万公里
            </td>
        </tr>
        <tr>
            <td>上牌时间</td>
            <td>
                <select id="selectregyear">
                    <option value="0">请选择</option>
                </select>
                年
                <select id="selectregmonth">
                    <option value="0">请选择</option>
                </select>
                月
            </td>
        </tr>
        <tr>
            <td>车辆图片</td>
            <td id="imgList">
                <input type="file" multiple="" id="picture"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="background-color: #ccc;">更多信息</td>
        </tr>
        <tr>
            <td>收购日期</td>
            <td id="">
                <input id="txtbuydate" class="Wdate" type="text" placeholder="收购日期" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })">
                <br/>该信息我们将严格保密，仅您可见。
            </td>
        </tr>
        <tr>
            <td>收购价格</td>
            <td id="">
                <input id="txtbuyprice" type="text" placeholder="收购价格"> 万元
                <br/>该信息我们将严格保密，仅您可见。
            </td>
        </tr>
        <tr>
            <td>待售价格</td>
            <td id="">
                <input id="txtsoldyprice" type="text" placeholder="待售价格"> 万元
            </td>
        </tr>
        <tr>
            <td>重大事故/水侵/火烧</td>
            <td>
                <input type="radio" name="radioisproblem" id="rYes" value="1"/>
                <label for="rYes">是</label>
                <input type="radio" name="radioisproblem" id="rNo" value="0" checked="checked"/>
                <label for="rNo">否</label>
            </td>
        </tr>
        <tr>
            <td>定期4S保养</td>
            <td>
                <input type="radio" name="radioistain" id="radioistain1" value="1" checked="checked"/>
                <label for="radioistain1">是</label>
                <input type="radio" name="radioistain" id="radioistain2" value="0"/>
                <label for="radioistain2">否</label>
            </td>
        </tr>
        <tr>
            <td>备注</td>
            <td>
                <textarea id="caresc" maxlength="200" rows="5" cols="150" placeholder="备注"></textarea>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="保存" onclick="Submit()"/>
                <input type="button" value="返回" onclick="goList();"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="theme-popover">
    上传图片中...
    <img src="~/Content/images/loading.gif" />
</div>
<div class="theme-popover-mask"></div>