@{
    var UserInfo = (CCN.Modules.Base.BusinessEntity.BaseUserModel)ViewBag.UserInfo;
}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">

            <div class="widget-header bordered-bottom bordered-yellow">
                <span class="widget-caption">汇总数据</span>
            </div>

            <table class="table table-bordered table-hover table-striped">
                <tbody>
                    <tr>
                        <td>
                            会员总数：
                            <span id="custtotal" style="color: red">0</span>
                            @*<input id="custtotal" type="text" placeholder="会员总数" >*@
                        </td>
                        <td>
                            车辆总数：
                            <span id="cartotal" style="color: red">0</span>
                            @*<input id="fanstotal" type="text" placeholder="粉丝总数" >*@
                        </td>
                        <td>
                            粉丝总数：
                            <span id="fanstotal" style="color: red">0</span>
                            @*<input id="cartotal" type="text" placeholder="车辆总数" >*@
                        </td>
                    </tr>
                </tbody>
            </table>
            <table style="margin: 0 auto;"></table>
            <br />

            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="well with-header with-footer">
                        <div class="header bg-blue">
                            日增长量
                        </div>
                        <div class="row form-group" style="padding-top:5px;">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="starttime" class="col-sm-3 control-label no-padding-right" style="padding-top: 5px;">开始时间:</label>
                                    <div class="col-sm-9">
                                        <input id="starttime" class="Wdate form-control" type="text" placeholder="开始时间" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="endtime" class="col-sm-3 control-label no-padding-right" style="padding-top: 5px;">结束时间:</label>
                                    <div class="col-sm-9">
                                        <input id="endtime" class="Wdate form-control" type="text" placeholder="结束时间" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 form-group hidden" id="areaselect">
                                <label for="" class="col-sm-2 control-label no-padding-right" style="padding-top: 5px;">地区:</label>
                                <div class="controls col-sm-10">
                                    <select id="selectprov" onchange="InitCity(this.options[this.options.selectedIndex].value)">
                                        <option value="0">请选择</option>
                                    </select>
                                    <select id="selectcity">
                                        <option value="0">请选择</option>
                                    </select>
                                </div>
                            </div>
                            <input type="button" value="搜索" onclick="QueryList();" />
                        </div>
                        <div style="height:400px;overflow:auto;">
                            <table class="table table-bordered table-hover table-striped" id="anaiysislist">
                                <thead class="bordered-darkorange">
                                    <tr role="row">
                                        <th>序号</th>
                                        <th>日期</th>
                                        <th>会员增长数</th>
                                        <th>车辆增长数</th>
                                        <th>粉丝增长数</th>
                                        <th>搜索数</th>
                                    </tr>
                                </thead>

                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row hidden" id="areadata">
                <div class="col-xs-12 col-md-12">
                    <div class="well with-header with-footer">
                        <div class="header bg-palegreen">
                            城市数据统计
                        </div>
                        <div style="height:400px;overflow:auto;">
                            <table class="table table-hover table-striped table-bordered" id="anaiysiscity">
                                <thead class="bordered-darkorange">
                                    <tr role="row">
                                        <th>序号</th>
                                        <th>城市</th>
                                        <th>会员数</th>
                                        <th>车辆数</th>
                                        <th>粉丝数</th>
                                    </tr>
                                </thead>

                                <tbody style="height:300px"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    var cityid = "";
    var userid = "";
    if ("@ViewBag.Admin" != "1") {
        userid = "@UserInfo.innerid";
    }
    $(function () {
        var myDate = new Date();

        var year = myDate.getFullYear();
        var month = myDate.getMonth() + 1;
        var day = myDate.getDate();
        var start = year + "-" + month + "-" + "01";
        $("#starttime").val(start);
        $("#endtime").val(year + "-" + month + "-" + day);

        //每日增长数据
        QueryList();
        //汇总数据
        InitTotal();
        if ("@ViewBag.Admin" == "1") {
            //区域数据
            GetDataByBity();
            $("#areadata").removeClass("hidden");
            $("#areaselect").removeClass("hidden");

        }
        InitProv();

    });

    //获取总数
    function InitTotal() {
        var url = "/api/DataAnalysis/GetTotal";
        if (userid != "") {
            url = "/api/DataAnalysis/GetTotal?cityid=" + userid;
        }
        $.get(url, function (data) {
            var obj = data.errmsg;
            $("#custtotal").html(parseInt(obj.value));
            $("#cartotal").html(parseInt(obj.value2));
            $("#fanstotal").html(obj.value4);
        });
    }

    //获取列表数据
    function QueryList() {

        if ($("#selectcity").val() != "0") {
            cityid = $("#selectcity").val();
        }
        var json = {
            starttime: $("#starttime").val(),
            endtime: $("#endtime").val(),
            cityid: cityid,
            userid: userid
        };

        $.post("/api/DataAnalysis/GetDayGrowth", json, function (data) {
            $("#anaiysislist tbody").empty();
            var str = "";
            $.each(data.errmsg, function (key, val) {
                var myDate = new Date(val.key);
                str = "";
                str += "<tr>";
                str += "<td>" + (key + 1) + "</td>";
                str += "<td>" + Dateformat(val.key, "yyyy-MM-dd") + "</td>";
                str += "<td>" + (parseInt(val.value)) + "</td>";
                str += "<td>" + (parseInt(val.value2)) + "</td>";
                str += "<td>" + val.value4 + "</td>";
                str += "<td>" + (parseInt(val.value6)) + "</td>";
                str += "</tr>";
                $("#anaiysislist tbody").append(str);
            });
        });
    }

    //获取区域数据 GetDataByBity
    function GetDataByBity() {
        var url = "/api/DataAnalysis/GetDataByBity";
        $.get(url, function (data) {
            var obj = data.errmsg;
            $("#anaiysiscity tbody").empty();
            var str = "";
            $.each(obj, function (key, val) {
                var myDate = new Date(val.key);
                str = "";
                str += "<tr>";
                str += "<td>" + (key + 1) + "</td>";
                str += "<td>" + val.value + "</td>";
                str += "<td>" + parseInt(val.value2) + "</td>";
                str += "<td>" + val.value4 + "</td>";
                str += "<td>" + parseInt(val.value6) + "</td>";
                str += "</tr>";
                $("#anaiysiscity tbody").append(str);
            });
        });
    }

    //初始化省份
    function InitProv() {
        $("#selectprov").empty();
        $("#selectprov").append("<option value='0'>请选择</option>");

        $.ajax({
            url: "/api/Base/GetProvList",
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {
                data = data.errmsg;
                $.each(data, function (k, v) {
                    $("#selectprov").append("<option value='" + v.Innerid + "'>" + v.ProvName + "</option>");
                });
            }
        });
    }

    //初始化城市
    function InitCity(provid) {

        $("#selectcity").empty();
        $("#selectcity").append("<option value='0'>请选择</option>");

        $.ajax({
            url: "/api/Base/GetCityList/?provid=" + provid,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {
                data = data.errmsg;
                $.each(data, function (k, v) {
                    $("#selectcity").append("<option value='" + v.Innerid + "'>" + v.CityName + "</option>");
                });
            }
        });
    }
</script>