
.vs/CCN/v14/.suo

.vs/CCN/v14/.suo

.vs/Cedar/v14/.suo

.vs/CCN/v14/.suo

.vs/Cedar/v14/.suo

*.dll

*.exe

*.targets

*.dll

*.pdb

*.xml

*.dll

*.pdb

*.XML

*.dll

*.xml

*.xml

*.xml

*.xml

*.xml
/UnitTest/FrameworkTest/bin
/Lib
/Source/Core/Core/obj
/Source/Core/EntLib/obj
/Source/Framework/Common/Framework.Common/obj
/Source/Framework/Common/Framework.Common.Client/obj
/Source/Framework/Common/Framework.Common.Server/obj
/Source/Framework/Caching/Caching/obj
/Source/Framework/Caching/Caching/bin
/Source/Framework/Caching/Caching.Interception/bin
/Source/Framework/Caching/Caching.Interception/obj
/Source/Framework/AuditTrail/AuditTrail/obj
/Source/Framework/AuditTrail/AuditTrail/bin
/Source/Framework/AuditTrail/AuditTrail.Interception/obj
/Source/Foundation/SMS/Foundation.SMS.Common/obj
/UnitTest/FrameworkTest/obj
/Source/Modules/Customer/Customer.BusinessComponent/bin
/Source/Modules/Customer/Customer.BusinessComponent/obj
/Source/Modules/Customer/Customer.BusinessComponent/obj
/Source/Modules/Base/Base.BusinessComponent/obj
/Source/Sites/CCN.WebAPI/bin
/UnitTest/FrameworkTest/obj
