
.vs/CCN/v14/.suo

.vs/CCN/v14/.suo

.vs/Cedar/v14/.suo

.vs/CCN/v14/.suo

.vs/Cedar/v14/.suo

*.exe

*.targets

*.dll

*.pdb

*.xml

*.txt

*.cache

*/bin
/Lib
*/obj
*/obj/Debug

.vs/config/applicationhost.config

*.user

Source/Sites/CCN.WebAPI/bin/*.*

Source/Sites/CCN.WebAPI/obj/*.*
