
.vs/CCN/v14/.suo

.vs/CCN/v14/.suo

.vs/Cedar/v14/.suo

.vs/CCN/v14/.suo

.vs/Cedar/v14/.suo

*.exe

*.targets

*.dll

*.pdb

*.xml

*.txt

*.cache

*/bin
/Lib
*/obj
*/obj/Debug

.vs/config/applicationhost.config

*.user

Source/Sites/CCN.WebAPI/bin/*.*

Source/Sites/CCN.WebAPI/obj/*.*

Source/Foundation/Wechat/Senparc.Weixin.MP/obj/*.*

Source/Foundation/Wechat/Senparc.Weixin.MP/bin/*.*

Source/Foundation/Wechat/Senparc.Weixin.QY/obj/*.*

Source/Foundation/Wechat/Senparc.Weixin.QY/bin/*.*

Source/Foundation/Wechat/Senparc.Weixin.MP.MvcExtension/obj/*.*

Source/Foundation/Wechat/Senparc.Weixin.MP.MvcExtension/bin/*.*

Source/Foundation/Wechat/Senparc.Weixin.Open/obj/*.*

Source/Foundation/Wechat/Senparc.Weixin.Open/bin/*.*

Source/Foundation/Wechat/Senparc.Weixin/obj/*.*

Source/Foundation/Wechat/Senparc.Weixin/bin/*.*

Source/Modules/Base/Base.BusinessEntity/obj/*.*

Source/Modules/Base/Base.BusinessEntity/obj/Debug/*.*

Source/Modules/Base/Base.BusinessEntity/bin/*.*
