<?xml version="1.0" encoding="utf-8" ?>
<cedar.auditTrail defaultProvider="dbProvider">
  <auditLogProviders>
    <add name="dbProvider" type="Cedar.Framework.AuditTrail.Redis.RedisAuditLogProvider, Cedar.Framework.AuditTrail" server="172.16.0.204" password="2257013F03EA762AB1559A00F22D2F86" database="1" applicationName="CCN" />
  </auditLogProviders>
  <auditLogListeners>
    <add name="dbAuditLogListener" type="Cedar.Framework.AuditTrail.Redis.RedisAuditLogListener, Cedar.Framework.AuditTrail" server="172.16.0.204" password="2257013F03EA762AB1559A00F22D2F86" applicationName="CCN" />
  </auditLogListeners>
</cedar.auditTrail>