<?xml version="1.0" encoding="utf-8" ?>
<MenuConfig>
  <MenuGroups>
    <!--<MenuGroup name="首页" url="/Home/Index" icon="menu-icon glyphicon glyphicon-home" info="欢迎登录车信网！" submenu="false">
    </MenuGroup>-->
    <MenuGroup name="会员模块" icon="menu-icon glyphicon glyphicon-tasks" submenu="true">
      <MenuArray>
        <Menu name="会员列表" url="/Customer/Customer/CustomerList" info="会员列表" permission="" icon=""/>
        <Menu name="粉丝列表" url="/Customer/Customer/CustWeChatList" info="粉丝列表" permission="" icon=""/>
      </MenuArray>
    </MenuGroup>

    <MenuGroup name="礼券管理" icon="menu-icon glyphicon glyphicon-th-large" submenu="true">
      <MenuArray>
        <Menu name="礼券列表" url="/Rewards/Rewards/CouponList" info="礼券列表" permission="" icon=""/>
        <Menu name="商品列表" url="/Rewards/Rewards/ProductList" info="商品列表" permission="" icon=""/>
        <Menu name="核销列表" url="/Rewards/Rewards/SearchCancelList" info="核销列表" permission="" icon=""/>
        <Menu name="结算列表" url="/Rewards/Rewards/SettlementList" info="结算列表" permission="" icon=""/>
        <Menu name="商户列表" url="/Rewards/Rewards/ShopList" info="商户列表" permission="" icon=""/>
      </MenuArray>
    </MenuGroup>

    <MenuGroup name="车辆管理" icon="menu-icon fa fa-th" submenu="true">
      <MenuArray>
        <Menu name="车辆列表" url="/Customer/Customer/CustomerList" info="车辆列表" permission="" icon=""/>
        <Menu name="车辆新增" url="/Customer/Customer/CustomerList" info="车辆新增" permission="" icon=""/>
      </MenuArray>
    </MenuGroup>

    <MenuGroup name="基础模块" icon="menu-icon fa fa-desktop" submenu="true">
      <MenuArray>
        <Menu name="菜单列表" url="/Customer/Customer/CustomerList" info="菜单列表" permission="" submenu="false"/>
        <Menu name="车辆基本数据" url="" info="车辆基本数据" permission="" submenu="true">
          <MenuSubArr>
            <MenuSub name="品牌列表" url="/Base/Base/BaseCarBrandList" info="品牌列表" permission="" icon="menu-icon fa fa-rocket" />
            <MenuSub name="车系列表" url="/Base/Base/BaseCarSeriesList" info="车系列表" permission="" icon="menu-icon glyphicon glyphicon-stats"/>
            <MenuSub name="车型列表" url="/Base/Base/BaseCarModelList" info="车型列表" permission="" icon="menu-icon typcn typcn-location-outline"/>
          </MenuSubArr>
        </Menu>
        <Menu name="代码值管理" url="" info="代码值管理" permission="" submenu="true">
          <MenuSubArr>
            <MenuSub name="代码类型" url="/System/System/BaseCodeTypeList" info="代码类型" permission="" icon="menu-icon fa fa-align-left" />
            <MenuSub name="代码值" url="/System/System/BaseCodeList" info="代码值" permission="" icon="menu-icon fa fa-tasks"/>
            </MenuSubArr>
        </Menu>
      </MenuArray>
    </MenuGroup>

  </MenuGroups>
</MenuConfig>
