<sr.serviceLocation defaultServiceLocator="srdefaultServiceLocator">
  <serviceLocators>
    <add name="srdefaultServiceLocator" type="Smartac.SR.Core.EntLib.IoC.UnityContainerServiceLocator,Smartac.SR.Core.EntLib" />
  </serviceLocators>
  <resolvedAssemblies>
    <add assembly="Smartac.SR.Core" />
    <add assembly="Smartac.SR.Core.EntLib" />
  </resolvedAssemblies>
</sr.serviceLocation>