
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<script type="text/javascript">

    $(function() {
        QueryList();
    });

    function QueryList() {
        $.get("/api/rewards/GetProductList", function(data) {
            if (data.errcode !== 0) {
                alert("获取商品失败");
                console.log(data.errmsg);
                return;
            }

            LoadData(data.products_info, 1);
        });
    }

    function LoadData(data, index) {

        $("#productlist tbody").empty();

        var str = "";

        $.each(data, function(key, val) {
            str = "";
            str += "<tr>";
            str += "<td>" + (index + key) + "</td>";

            str += "<td><img style=' max-width:50px;' src='" + val.product_base.main_img
                .replace("?wx_fmt=jpg", "?wx_fmt=jpg&tp=jpg&wxfrom=5")
                .replace("?wx_fmt=png", "?wx_fmt=jpg&tp=jpg&wxfrom=5")
                .replace("?wx_fmt=bmp", "?wx_fmt=jpg&tp=jpg&wxfrom=5")
                .replace("?wx_fmt=jpeg", "?wx_fmt=jpg&tp=jpg&wxfrom=5") + "' /></td>";

            var productName = val.product_base.name;

            str += "<td>" + productName + "</td>";
            str += "<td>" + val.product_id + "</td>";
            str += "<td>" + val.sku_list[0].quantity + "</td>";
            str += "<td>" + Status(val.status) + "</td>";
            str += "<td>" +
                //"<a href='/rewards/rewards/productview?productid=" + val.product_id + "'>查询详情</a> " +
                "</td>";
            str += "</tr>";
            $("#productlist tbody").append(str);
        });
    }

    function Status(status) {
        switch (status) {
        case 1:
            return "上架";
        case 2:
            return "下架";
        default:
            return "未知";
        }
    }

</script>
<div>

    <div style="padding-bottom:5px">
    </div>

    <table class="table table-striped table-hover table-bordered" id="productlist">
        <thead>
            <tr role="row">
                <th>序号</th>
                <th>商品图片</th>
                <th>商品名称</th>
                <th>商品ID</th>
                <th>库存</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>

