
@{
//ViewBag.Title = "SettlementList";
//Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}


<script type="text/javascript">

    $(function () {
        InitShop();
        QueryList();
    });

    function InitShop() {
        $("#selectshop").empty();
        $("#selectshop").append("<option value='0'>请选择</option>");

        $.ajax({
            url: "/api/Rewards/GetShopList",
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {
                $.each(data, function (k, v) {
                    $("#selectshop").append("<option value='" + v.Value + "'>" + v.Text + "</option>");
                });
            }
        });
    }

    function QueryList() {
        var json = { shopid: $("#selectshop").val() === "0" ? "" : $("#selectshop").val() };
        $("#settlist").getPageList(20, "/api/Rewards/GetSettLogPageList", json, LoadData);
    }

    function LoadData(data, index) {

        $("#settlist tbody").empty();

        var str = "";

        $.each(data, function(key, val) {
            str = "";
            str += "<tr>";
            str += "<td>" + (index + key) + "</td>";
            str += "<td>" + val.Shopname + "</td>";
            str += "<td>" + val.Orderid + "</td>";
            str += "<td>" + Dateformat(val.SettTime, "yyyy-MM-dd") + "</td>";
            str += "<td>" + val.SettTotal + "</td>";
            str += "<td>" + Dateformat(val.SettCycleStart, "yyyy-MM-dd") + "~" + Dateformat(val.SettCycleEnd, "yyyy-MM-dd") + "</td>";
            str += "<td>" +
                "<a onclick=\"getBodyHtml('mainbody', '/rewards/rewards/settlementedit?innerid=" + val.Innerid + "',this);\" href='javascript:;'>修改</a> " +
                "<a href='javascript:;' onclick=\"DeleteSettLog('" + val.Innerid + "');\">删除</a> " +
                "</td>";
            str += "</tr>";
            $("#settlist tbody").append(str);
        });
    }

    function DeleteSettLog(innerid) {

        if (!confirm("确定删除？")) {
            return;
        }

        $.ajax({
            url: "/api/Rewards/DelSettLog?innerid=" + innerid,
            type: 'delete',
            datatype: 'application/json',
            async: false,
            success: function (result) {
                //location.reload();
                getBodyHtml('mainbody', '/api/Rewards/SettlementList');
            }
        });
    }

</script>

<div>

    <div style="padding-bottom:5px">
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-3">
                <div class="form-group">
                    <span>
                        <label for="selectshop" class="col-sm-4 control-label no-padding-right searchLayout">所属商户：</label>
                        <select id="selectshop" onchange="QueryList();">
                            <option value="0">请选择</option>
                        </select>
                    </span>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-3 col-xs-3">
                <a href="javascript:void(0);" class="btn btn-palegreen shiny" onclick="QueryList();">查询</a>
                <a onclick="getBodyHtml('mainbody', '/rewards/rewards/settlementedit', this);" href="javascript:;" class="btn btn-primary shiny">添加</a>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-3">
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-3">
            </div>
        </div>
    </div>

    <table class="table table-striped table-hover table-bordered" id="settlist">
        <thead>
            <tr role="row">
                <th>序号</th>
                <th>所属商铺</th>
                <th>结算单号</th>
                <th>结算时间</th>
                <th>结算金额</th>
                <th>结算周期</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>


