
@{
    ViewBag.Title = "ShopList";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}



<script type="text/javascript">

    $(function () {
        QueryList();
    });

    function QueryList() {
        var json = { shopname: $("#shopname").val() };
        $("#shoplist").getPageList(20, "/api/Rewards/GetShopPageList", json, LoadData);
    }

    function LoadData(data, index) {

        $("#shoplist tbody").empty();

        var str = "";

        $.each(data, function(key, val) {
            str = "";
            str += "<tr>";
            str += "<td>" + (index + key) + "</td>";
            str += "<td>" + (val.Shopname == null ? "" : val.Shopname.sub(400)) + "</td>";
            str += "<td>" + val.Shopcode + "</td>";
            str += "<td>" + val.Email + "</td>";
            str += "<td>" + (val.Status === 1 ? "正常" : "<font color='red'>冻结中</font>") + "</td>";
            str += "<td>" + Dateformat(val.Createdtime, "yyyy-MM-dd HH:mm:ss") + "</td>";

            var btnStatus = "";
            if (val.Status === 1) {
                btnStatus = "<a href='javascript:;' onclick=\"UpdateStatus('" + val.Innerid + "',2);\">冻结</a> ";
            } else {
                btnStatus = "<a href='javascript:;' onclick=\"UpdateStatus('" + val.Innerid + "',1);\">解冻</a> ";
            }

            str += "<td>" +
                "<a href='/rewards/rewards/shopedit?innerid=" + val.Innerid + "'>修改</a> " +
                //"<a href='/rewards/rewards/shopview?innerid=" + val.Innerid + "'>查询详情</a> " +
                "<a href='javascript:;' onclick=\"DeleteShop('" + val.Innerid + "');\">删除</a> " + 
                btnStatus +
                "</td>";
            str += "</tr>";
            $("#shoplist tbody").append(str);
        });
    }

    function UpdateStatus(innerid, status) {
        $.post("/api/Rewards/UpdateShopStatus?innerid=" + innerid + "&status=" + status, null, function (result) {
            alert(result.errmsg);
            location.reload();
        });
    }

    function DeleteShop(innerid) {

        if (!confirm("确定删除？")) {
            return;
        }

        $.ajax({
            url: "/api/Rewards/DeleteShop?innerid=" + innerid,
            type: 'delete',
            datatype: 'application/json',
            async: false,
            success: function (result) {
                location.reload();
            }
        });
    }

</script>
<div style="margin: 0 auto;">
    <div style="font-size: 18px; font-weight: bold; text-align: center">商户列表</div>
    <table style="margin: 0 auto;">
        <tr>
            <td>
                商户名称：<input type="tel" id="shopname" /><input type="button" value="搜索" onclick="QueryList();" />
            </td>
            <td style="text-align: right">
                <a href='/rewards/rewards/shopedit'>添加</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table id="shoplist" class="gridtable">

                    <thead>
                        <tr>
                            <td>序号</td>
                            <td>商铺名称</td>
                            <td>登录名</td>
                            <td>Email</td>
                            <td>状态</td>
                            <td>创建时间</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </td>
        </tr>
    </table>
</div>


