
@{
//ViewBag.Title = "ShopEdit";
//Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}



<script type="text/javascript">

    var id = "@ViewBag.innerid";

    $(function() {
        InitProv();
        Init();
    });

    //初始化省份
    function InitProv() {
        $("#selectprov").empty();
        $("#selectprov").append("<option value='0'>选择省份</option>");

        $.ajax({
            url: "/api/Base/GetProvList",
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function(data) {
                data = data.errmsg;
                $.each(data, function(k, v) {
                    $("#selectprov").append("<option value='" + v.Innerid + "'>" + v.ProvName + "</option>");
                });

                var jsid = 11;
                $("#selectprov").selectVal(jsid);
                InitCity(jsid);
            }
        });
    }

    //初始化城市
    function InitCity(provid) {
        $("#selectcity").empty();
        $("#selectcity").append("<option value='0'>选择城市</option>");

        $.ajax({
            url: "/api/Base/GetCityList?provid=" + provid,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function(data) {
                data = data.errmsg;
                $.each(data, function(k, v) {
                    $("#selectcity").append("<option value='" + v.Innerid + "'>" + v.CityName + "</option>");
                });
                $("#selectcity").selectVal(125);
                InitCounty(125);
            }
        });
    }

    //初始化城市
    function InitCounty(cityid) {
        $("#selectcounty").empty();
        $("#selectcounty").append("<option value='0'>选择区/县</option>");

        $.ajax({
            url: "/api/Base/GetCountyList?cityid=" + cityid,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {
                data = data.errmsg;
                $.each(data, function (k, v) {
                    $("#selectcounty").append("<option value='" + v.Innerid + "'>" + v.Countyname + "</option>");
                });
            }
        });
    }

    function Init() {

        if (id === "") {
            return;
        }

        $.ajax({
            url: '/api/Rewards/GetShopById?innerid=' + id,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function(data) {

                if (data.errcode !== 0) {
                    alert("获取数据异常！");
                }
                var obj = data.errmsg;
                $("#shopname").val(obj.Shopname);
                $("#shopcode").html(obj.Shopcode);
                $("#password").val("******").prop("disabled", true);
                $("#telephone").val(obj.Telephone);                
                $("#email").val(obj.Email);
                $("#address").val(obj.Address);
                $("#qq").val(obj.QQ);
                $("#signature").val(obj.Signature);

                $("#logoimg").attr("src", getQiniuUrl(obj.Headportrait));

                $("#selectprov").selectVal(obj.Provid);

                InitCity(obj.Provid);

                $("#selectcity").selectVal(obj.Cityid);

                InitCounty(obj.Cityid);

                $("#selectcounty").selectVal(obj.Countyid);
            }
        });
    }

    function Submit() {

        var json = {
            Shopname: $("#shopname").val(),
            Password: $("#password").val(),
            Telephone: $("#telephone").val(),
            Email: $("#email").val(),
            provid: $("#selectprov").val(),
            cityid: $("#selectcity").val(),
            countyid: $("#selectcounty").val(),
            Address: $("#address").val(),
            Signature: $("#signature").val(),
            QQ: $("#qq").val(),
            Headportrait: ""
        };

        if (json.Shopname === "") {
            alert('请输入标题');
            return false;
        }

        var result;
        uploadfile("logourl", 1024 * 2, "", "card_logo", function (res) {
            result = res;
        });

        if (result === "-1") {
            alert('图片格式不正确');
            return false;
        } else if (result === "-2") {
            alert('上传异常');
            return false;
        } else if (result === "-3") {
            alert('文件大小超出');
            return false;
        }

        if (id === "") {

            if (json.Password === "") {
                alert('请输入密码');
                return false;
            }

            if (result === "0") {
                alert('请上传图片');
                return false;
            }

            json.Headportrait = result;

            $.post("/api/Rewards/AddShop", json, function(result) {
                var str = result.errcode === 0 ? "添加成功" : "添加失败";
                alert(str);
                ToList();
            });
        } else {

            if (result === "0") {
                json.Headportrait = null;
            } else {
                json.Headportrait = result;
            }

            json.Innerid = id;
            $.ajax({
                url: '/api/Rewards/UpdateShop',
                type: 'put',
                datatype: 'application/json',
                data: json,
                async: false,
                success: function(result) {
                    var str = result.errcode === 0 ? "更新成功" : "更新失败";
                    alert(str);
                    ToList();
                }
            });
        }
        return false;
    }

    function ToList() {
        getBodyHtml('mainbody', '/rewards/rewards/shoplist');
    }

</script>

<div class="widget">
    <div class="widget-header bordered-bottom bordered-palegreen">
        <span class="widget-caption">商户信息</span>
    </div>
    <div class="widget-body">
        <div>
            <form class="form-horizontal form-bordered" role="form">
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">商户编号:</label>
                            <div class="controls col-sm-10" style="padding-top:5px;">
                                <label id="shopcode">自动生成，不可修改</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>商户名称:</label>
                            <div class="controls col-sm-10" style="padding-top:5px;">
                                <input type="text" id="shopname" placeholder="商户名称" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>密码:</label>
                            <div class="controls col-sm-10">
                                <input type="password" id="password" placeholder="密码" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">联系电话:</label>
                            <div class="controls col-sm-10">
                                <input type="text" id="telephone" placeholder="联系电话" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">Email:</label>
                            <div class="controls col-sm-10">
                                <input type="text" id="email" placeholder="Email" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">QQ:</label>
                            <div class="controls col-sm-10">
                                <input type="text" id="qq" placeholder="QQ" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">所在地:</label>
                            <div class="controls col-sm-10">
                                <select id="selectprov" onchange="InitCity(this.options[this.options.selectedIndex].value)">
                                    <option value="0">选择省份</option>
                                </select>
                                <select id="selectcity">
                                    <option value="0">选择城市</option>
                                </select>
                                <select id="selectcounty">
                                    <option value="0">选择区/县</option>
                                </select>
                                <input type="text" id="address" placeholder="详细地址" style="height: 33px;" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label for="" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>图片</label>
                        <div class="controls col-sm-10">
                            <input type="file" id="logourl" />
                            <img id="logoimg" style="max-width: 150px; max-height: 150px" src="" />
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="signature" class="col-sm-1 control-label no-padding-right">个人签名:</label>
                            <div class="col-sm-11">
                                <textarea id="signature" maxlength="200" rows="5" cols="150" placeholder="个人签名"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group text-center">
                    <div class="col-lg-12">
                        <input type="button" class="btn btn-palegreen shiny" value="保存" onclick="Submit()" />
                        <input type="button" class="btn btn-primary shiny" value="返回" onclick="ToList();" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>



