
@{
    //ViewBag.Title = "CarSeries";
    //Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<script type="text/javascript">
    $(function () {
        InitBrand();
        InitSeries();
        QueryList();
    });
    function InitBrand() {
        $("#selectbrand").empty();
        $("#selectbrand").append("<option value='0'>请选择</option>");

        $.ajax({
            url: "/api/Base/GetCarBrand",
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {
                data = data.errmsg;
                $.each(data, function (k, v) {
                    $("#selectbrand").append("<option value='" + v.Innerid + "'>" + v.Initial + " " + v.BrandName + "</option>");
                });
            }
        });
    }
    function InitSeries(brandid) {
        $("#selectseries").empty();
        $("#selectseries").append("<option value='0'>请选择</option>");
        $.ajax({
            url: "/api/Base/GetCarSeries?brandId=" + brandid,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {
                data = data.errmsg;
                $.each(data, function (k, v) {
                    $("#selectseries").append("<option value='" + v.Innerid + "'>" + v.SeriesName + "</option>");
                });
            }
        });
    }
    function QueryList() {
        var json = {
            BrandId: $("#selectbrand").val() == 0 ? "" : $("#selectbrand").val(),
            SeriesId: $("#selectseries").val() == 0 ? "" : $("#selectseries").val(),
            Modelname: $("#carmodel").val()
        };
        $("#carmodellist").getPageList(20, "/api/Base/GetCarModelList", json, LoadData);
    }
    function LoadData(data, index) {
        $("#carmodellist tbody").empty();
        var str = "";
        $.each(data, function (key, val) {
            str = "";
            str += "<tr>";
            str += "<td>" + (index + key) + "</td>";
            str += "<td>" + (val.BrandName == null ? "" : val.BrandName.sub(400)) + "</td>";
            str += "<td>" + (val.SeriesName == null ? "" : val.SeriesName.sub(400)) + "</td>";
            str += "<td>" + (val.Modelname == null ? "" : val.Modelname.sub(400)) + "</td>";
            str += "<td>" + val.Modelprice + "</td>";
            str += "<td>" + val.Modelyear + "</td>";
            str += "<td>" + val.Minregyear + "</td>";
            str += "<td>" + val.Maxregyear + "</td>";
            str += "<td>" + val.Liter + "</td>";
            str += "<td>" + val.Geartype + "</td>";
            str += "<td>" + val.Dischargestandard + "</td>";
            str += "<td>" + (val.IsEnabled === 1 ? "启用中" : "<font color='red'>禁用中</font>") + "</td>";
            str += "<td>" + val.Remark + "</td>";
            str += "<td>" +
                "<a onclick=\"getBodyHtml('mainbody', '/Base/Base/BaseCarModelEdit?innerid=" + val.Innerid + "');\" href='javascript:;'>修改</a> " +
                "<a onclick=\"getBodyHtml('mainbody', '/Base/Base/BaseCarModelView?innerid=" + val.Innerid + "');\" href='javascript:;'>详情 </a>" +
                "<a href='javascript:;' onclick=\"DeleteCarModel('" + val.Innerid + "');\">删除 </a>" +
                "<a href='javascript:;' onclick=\"UpdateModelStatus('" + val.Innerid + "'," + val.IsEnabled + ");\">" + (val.IsEnabled === 1 ? "禁用 " : "启用 ") + "</a>" +
                "</td>";
            str += "</tr>";
            $("#carmodellist tbody").append(str);
        });
    }
    function UpdateModelStatus(carid, status) {
        status = status === 1 ? 0 : 1;
        $.post("/api/base/UpdateModelStatus?carid=" + carid + "&status=" + status, null, function (result) {
            alert(result.errmsg);
            getBodyHtml('mainbody', '/Base/Base/BaseCarModelList');
        });
    }
    function DeleteCarModel(innerid) {
        if(!confirm("确认删除！")){
        return;
        }
        
        $.post("/api/base/DeleteCarModel?innerid=" + innerid, function (result) {
            var str = result.errcode === 0 ? "删除成功" : "删除失败";
            alert(str);
            getBodyHtml('mainbody', '/Base/Base/BaseCarModelList');
        });
    }
</script>
<div>
    <div style="padding-bottom:5px">
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-4">
                <div class="form-group">
                    <span>
                        <label for="selectbrand" class="col-sm-4 control-label no-padding-right searchLayout">品牌/车系：</label>
                        <span>
                            <select id="selectbrand" onchange="InitSeries(this.options[this.options.selectedIndex].value)">
                                <option value="0">请选择</option>
                            </select>
                            <select id="selectseries">
                                <option value="0">请选择</option>
                            </select>
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-3">
                <div class="form-group">
                    <label for="carmodel" class="col-sm-4 control-label no-padding-right searchLayout">车型名称：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="carmodel" placeholder="车型名称">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-3">
                <a href="javascript:void(0);" class="btn btn-palegreen shiny" onclick="QueryList();">查询</a>
                <a onclick="getBodyHtml('mainbody', '/Base/Base/BaseCarModelEdit');" href="javascript:;" class="btn btn-primary shiny">添加</a>
            </div>
        </div>
    </div>


    <table  class="table table-striped table-hover table-bordered" id="carmodellist">
            <thead>
                <tr>
                    <th>
                        序号
                    </th>
                    <th>
                        品牌名称
                    </th>
                    <th>
                        车系名称
                    </th>
                    <th>
                        车型名称
                    </th>
                    <th>
                        指导价
                    </th>
                    <th>
                        年款
                    </th>
                    <th>
                        最早注册年份
                    </th>
                    <th>
                        最晚注册年份
                    </th>
                    <th>
                        排量
                    </th>
                    <th>
                        变速箱类型
                    </th>
                    <th>
                        排放标准
                    </th>
                    <th>
                        是否启用
                    </th>
                    <th>
                        备注
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
            </tbody>
        </table>
</div>