
@{
    ViewBag.Title = "CarModelView";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<script type="text/javascript">
    debugger
    var id = "@ViewBag.innerid";
    var CarModel = null;
    $(function () {
        Init();
    });
    debugger
    function Init() {

        if (id === "") {
            return;
        }
        debugger
        $.ajax({
            url: '/api/Base/GetBaseCarModelById?innerid=' + id,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {
                if (data.errcode !== 0) {
                    alert("获取数据异常！");
                }
                var obj = data.errmsg;
                CarModel = obj;
                $("#brandname").html(obj.BrandName);
                $("#seriesname").html(obj.SeriesName);
                $("#modelname").html(obj.Modelname);
                $("#modelprice").html(obj.Modelprice);
                $("#modelyear").html(obj.Modelyear);
                $("#minregyear").html(obj.Minregyear);
                $("#maxregyear").html(obj.Maxregyear);
                $("#liter").html(obj.Liter);
                $("#geartype").html(obj.Geartype);
                $("#dischargestandard").html(obj.Dischargestandard);
                $("#seriesid").html(obj.Seriesid);
                if (obj.IsEnabled === 1) {
                    $("#isenabled").text("启用中");
                }
                else {
                    $("#isenabled").text("禁用中");
                }
                $("#remark").html(obj.Remark);
            }
        });
        debugger
    }
</script>
<div>
    <div style="font-size:18px;font-weight:bold;text-align:center">车型信息详情</div>
    <table id="carmodel" class="gridtable">
        <tbody>
            <tr>
                <td>品牌/车系</td>
                <td><span id="brandname"></span>/<span id="seriesname"></span></td>
            </tr>
            <tr>
                <td>车型名称</td>
                <td id="modelname"></td>
            </tr>
            <tr>
                <td>指导价</td>
                <td id="modelprice"></td>
            </tr>
            <tr>
                <td>年款</td>
                <td id="modelyear"></td>
            </tr>
            <tr>
                <td>最早注册年份</td>
                <td id="minregyear"></td>
            </tr>
            <tr>
                <td>最晚注册年份</td>
                <td id="maxregyear"></td>
            </tr>
            <tr>
                <td>排量</td>
                <td id="liter"></td>
            </tr>
            <tr>
                <td>变速箱类型</td>
                <td id="geartype"></td>
            </tr>
            <tr>
                <td>排放标准</td>
                <td id="dischargestandard"></td>
            </tr>
            <tr>
                <td>车系ID</td>
                <td id="seriesid"></td>
            </tr>
            <tr>
                <td>是否启用</td>
                <td id="isenabled"></td>
            </tr>
            <tr>
                <td>备注</td>
                <td id="remark"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" value="返回" onclick="location.href = '/Base/Base/BaseCarModelList';" /></td>
            </tr>
        </tbody>
    </table>
</div>



