
@{
    ViewBag.Title = "CarBrandView";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<script type="text/javascript">
    debugger
    var id = "@ViewBag.innerid";
    var CarModel = null;
    $(function () {
        Init();
    });
    debugger
    function Init() {

        if (id === "") {
            return;
        }
        debugger
        $.ajax({
            url: '/api/Base/GetCarBrandById?innerid=' + id,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {
                if (data.errcode !== 0) {
                    alert("获取数据异常！");
                }
                var obj = data.errmsg;
                CarModel = obj;
                $("#innerid").html(obj.Innerid);
                $("#brandname").html(obj.BrandName);
                $("#initial").html(obj.Initial);
                if (obj.IsEnabled === 1) {
                    $("#isenabled").text("启用中");
                }
                else {
                    $("#isenabled").text("禁用中");
                }
                $("#remark").html(obj.Remark);
                $("#logurl").attr("src", getQiniuUrl(obj.Logurl));
                $("#hot").html(obj.Hot);
            }
        });
        debugger
    }
</script>
<div>
    <div style="font-size:18px;font-weight:bold;text-align:center">车系详情</div>
    <table id="carbrandlist" class="gridtable">
        <tbody>
            <tr>
                <td>主键id</td>
                <td id="innerid"></td>
            </tr>
            <tr>
                <td>品牌名称</td>
                <td id="brandname"></td>
            </tr>
            <tr>
                <td>首字母</td>
                <td id="initial"></td>
            </tr>
            <tr>
                <td>是否可用</td>
                <td id="isenabled"></td>
            </tr>
            <tr>
                <td>备注</td>
                <td id="remark"></td>
            </tr>
            <tr>
                <td>图片地址</td>
                <td><img id="logurl" style="max-width: 150px;max-height:150px" src="" /></td>
            </tr>
            <tr>
                <td>热度</td>
                <td id="hot"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" value="返回" onclick="location.href = '/Base/Base/BaseCarBrandList';" /></td>
            </tr>
        </tbody>
    </table>
</div>
