
@{
    ViewBag.Title = "CarSeries";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<script type="text/javascript">
    $(function () {
        QueryList();
    });
    debugger
    function QueryList() {
        var json = { Modelname: $("#title").val() };
        $("#carmodellist").getPageList(20, "/api/Base/GetCarModelList", json, LoadData);
    }
    function LoadData(data, index) {
        $("#carmodellist tbody").empty();
        var str = "";
        $.each(data, function (key, val) {
            str = "";
            str += "<tr>";
            str += "<td>" + (index + key) + "</td>";
            str += "<td>" + val.Innerid + "</td>";
            str += "<td>" + (val.Modelname == null ? "" : val.Modelname.sub(400)) + "</td>";
            str += "<td>" + val.Modelprice + "</td>";
            str += "<td>" + val.Modelyear + "</td>";
            str += "<td>" + val.Minregyear + "</td>";
            str += "<td>" + val.Maxregyear + "</td>";
            str += "<td>" + val.Liter + "</td>";
            str += "<td>" + val.Geartype + "</td>";
            str += "<td>" + val.Dischargestandard + "</td>";
            str += "<td>" + val.Seriesid + "</td>";
            str += "<td>" + (val.IsEnabled === 1 ? "启用中" : "<font color='red'>禁用中</font>") + "</td>";
            str += "<td>" + val.Remark + "</td>";
            str += "<td>" +
                "<a href='/Base/Base/BaseCarModelEdit?innerid=" + val.Innerid + "'>修改</a>" +
                "<a href='/Base/Base/BaseCarModelView?innerid=" + val.Innerid + "'>详情</a>" +
                "<a href='javascript:;' onclick=\"DeleteCarModel('" + val.Innerid + "');\">删除</a>" +
                "<a href='javascript:;' onclick=\"UpdateModelStatus('" + val.Innerid + "'," + val.IsEnabled + ");\">" + (val.IsEnabled === 1 ? "禁用" : "启用") + "</a>" +
                "</td>";
            str += "</tr>";
            $("#carmodellist tbody").append(str);
        });
    }
    function UpdateModelStatus(carid, status) {
        status = status === 1 ? 0 : 1;
        $.post("/api/base/UpdateModelStatus?carid=" + carid + "&status=" + status, null, function (result) {
            alert(result.errmsg);
            location.reload();
        });
    }
    debugger
    function DeleteCarModel(innerid) {
        if(!confirm("确认删除！")){
        return;
        }
        debugger
        $.post("/api/base/DeleteCarModel?innerid=" + innerid, function (result) {
            var str = result.errcode === 0 ? "删除成功" : "删除失败";
            alert(str);
            location.href = "/base/base/BaseCarModelList";
        });
    }
</script>
<div style="margin:0 auto">
    <div style="font-size:18px;font-weight: bold; text-align: center">车型信息列表</div>
    <table style="margin:0 auto">
        <tr>
            <td>
                车型名称:<input type="tel" id="title" /><input type="button" value="搜索" onclick="QueryList();" />
            </td>
            <td style="text-align:right">
                <a href='/Base/Base/BaseCarModelEdit'>添加</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table id="carmodellist" class="gridtable">
                    <thead>
                        <tr>
                            <td>
                                id
                            </td>
                            <td>
                                主键id
                            </td>
                            <td>
                                车型名称
                            </td>
                            <td>
                                指导价
                            </td>
                            <td>
                                年款
                            </td>
                            <td>
                                最早注册年份
                            </td>
                            <td>
                                最晚注册年份
                            </td>
                            <td>
                                排量
                            </td>
                            <td>
                                变速箱类型
                            </td>
                            <td>
                                排放标准
                            </td>
                            <td>
                                车系ID
                            </td>
                            <td>
                                是否启用
                            </td>
                            <td>
                                备注
                            </td>
                            <td>
                                操作
                            </td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </td>
        </tr>
    </table>

</div>