
@{
    ViewBag.Title = "CarSeriesEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var id = "@ViewBag.innerid";
    var maxid;
    $(function () {
        InitBrand();
    });
    //初始化信息
    function Init() {
        if (id === "") {//添加信息
            $.ajax({
                url: '/api/Base/GetCarSeriesMaxId',
                type: 'get',
                datetype: 'application/json',
                async: false,
                success: function (data) {
                    var obj = data.errmsg;
                    maxid = obj.MaxId;
                }
            });
            return;
        }
        $.ajax({//更新信息
            url: '/api/Base/GetCarSeriesById?innerid=' + id,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {

                if (data.errcode !== 0) {
                    alert("获取数据异常！");
                }
               
                var obj = data.errmsg;
                $("#selectbrand").selectVal(obj.Brandid);
                $("#seriesname").val(obj.SeriesName);
                $("#seriesgroupname").val(obj.SeriesGroupName);
                $("#remark").val(obj.Remark);
            }
        });
    }
    //初始化品牌
    function InitBrand() {
        $("#selectbrand").empty();
        $("#selectbrand").append("<option value='0'>请选择</option>");//初始化显示
        $.ajax({
            url: "/api/Base/GetCarBrand",
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {
                data = data.errmsg;
                $.each(data, function (k, v) {
                    $("#selectbrand").append("<option value='" + v.Innerid + "'>" + v.BrandName + "</option>");
                });
                Init();
            }
        });
    }
    //提交
    function Submit() {

        if (!$("#seriesname").val()) {
            alert("车系名称不为空！");
            return;
        }
        if (!$("#seriesgroupname").val()) {
            alert("车系组不为空！");
            return;
        }
        if ($("#selectbrand").val() == 0) {
            alert("品牌名称不为空！");
            return;
        }
        var json = {
            SeriesName: $("#seriesname").val(),
            SeriesGroupName: $("#seriesgroupname").val(),
            Brandid: $("#selectbrand").val(),
            Remark: $("#remark").val(),
        };
        if (id === "") {
            //添加验证,验证是否存在还可添加
            $.ajax({
                url: '/api/Base/GetCarSeriesName?seriesname=' + $("#seriesname").val()+"&innerid="+"",
                type: 'get',
                datetype: 'application/json',
                async: false,
                success: function (data) {
                    var obj = data.errcode;
                    if (obj == 0) {
                        alert("车系名称已存在！");
                        return;
                    }
                    else {
                        json.Innerid = maxid + 1;
                        $.post("/api/Base/AddCarSeries", json, function (result) {
                            var str = result.errcode === 0 ? "添加成功" : "添加失败";
                            alert(str);
                            getBodyHtml('mainbody', '/Base/Base/BaseCarSeriesList');
                        });
                    }
                }
            });
        }
        else {
            json.Innerid = id;
            $.ajax({
                url: '/api/Base/GetCarSeriesName?seriesname=' + $("#seriesname").val()+"&innerid="+id,
                type: 'get',
                datetype: 'application/json',
                async: false,
                success: function (data) {
                    var obj = data.errcode;
                    if (obj == 0) {
                        alert("车系名称已存在！");
                        return;
                    }
                    else {
                        $.ajax({
                            url: '/api/Base/UpdateCarSeries',
                            type: 'post',
                            datatype: 'application/json',
                            data: json,
                            async: false,
                            success: function (result) {
                                var str = result.errcode === 0 ? "更新成功" : "更新失败";
                                alert(str);
                                getBodyHtml('mainbody', '/Base/Base/BaseCarSeriesList');
                            }
                        });
                    }
                }});
        }
    }
</script>

<div>
    <div style="font-size:18px;font-weight:bold;text-align:center">车系编辑</div>
    <table id="carseries" class="gridtable">
        <tbody>
            <tr>
                <td>品牌名称</td>
                <td>
                    <select id="selectbrand">
                        <option value="0">请选择</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>车系名称</td>
                <td><input type="text" id="seriesname" /></td>
            </tr>
            <tr>
                <td>车系组 进口/国产</td>
                <td><input type="text" id="seriesgroupname" /></td>
            </tr> 
            <tr>
                <td>备注</td>
                <td><textarea id="remark" maxlength="200" rows="5" onclose="150" placeholder="备注"></textarea></td>
            </tr>
            <tr>
                <td><input type="submit" value="保存" onclick="Submit()" /></td>
                <td><input type="button" value="返回" onclick="getBodyHtml('mainbody', '/Base/Base/BaseCarBrandList');" /></td>
            </tr>
        </tbody>
    </table>
</div>
