
@{
//ViewBag.Title = "CarBrandView";
//Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var id = "@ViewBag.innerid";
    var CarModel = null;
    $(function () {
        Init();
    });
    function Init() {

        if (id === "") {
            return;
        }
        $.ajax({
            url: '/api/Base/GetCarBrandById?innerid=' + id,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {
                if (data.errcode !== 0) {
                    alert("获取数据异常！");
                }
                var obj = data.errmsg;
                CarModel = obj;
                $("#innerid").html(obj.Innerid);
                $("#brandname").html(obj.BrandName);
                $("#initial").html(obj.Initial);
                if (obj.IsEnabled === 1) {
                    $("#isenabled").text("启用中");
                }
                else {
                    $("#isenabled").text("禁用中");
                }
                $("#remark").html(obj.Remark);
                $("#logurl").attr("src", getQiniuUrl(obj.Logurl));
                $("#hot").html(obj.Hot);
            }
        });
    }
</script>

<div class="widget">
    <div class="widget-header bordered-bottom bordered-palegreen">
        <span class="widget-caption">品牌基本信息</span>
    </div>
    <div class="widget-body">
        <div>
            <form class="form-horizontal form-bordered" role="form">
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>品牌名称:</label>
                            <div class="controls col-sm-10">
                                <span type="text" id="brandname" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>首字母:</label>
                            <div class="controls col-sm-10">
                                <span type="text" id="initial" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>品牌图标:</label>
                            <div class="controls col-sm-10">
                                <img id="logurl" style="max-width: 150px;max-height:150px" src="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">备注:</label>
                            <div class="controls col-sm-10">
                                <span id="remark" maxlength="200" rows="5" onclose="150" placeholder="备注" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">热度:</label>
                            <div class="controls col-sm-10">
                                <span type="text" id="hot" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
                <div class="row form-group text-center">
                    <div class="col-lg-12">
                        <input type="button" class="btn btn-primary shiny" value="返回" onclick="getBodyHtml('mainbody', '/Base/Base/BaseCarBrandList');" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
