
@{
//ViewBag.Title = "CarBrandEdit";
//Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var id = "@ViewBag.innerid";
    $(function () {
        Init();
    });
    function Init() {
        if (id === "") {
            $("#title").html("品牌信息添加");
            $.ajax({
                url: '/api/Base/GetCarBrandMaxId',
                type: 'get',
                datetype: 'application/json',
                async: false,
                success: function (data) {
                    var obj = data.errmsg;
                    maxid = obj.MaxId;
                }
            });
            return;
        }
        $.ajax({
            url: '/api/Base/GetCarBrandById?innerid=' + id,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {

                if (data.errcode !== 0) {
                    alert("获取数据异常！");
                }
                var obj = data.errmsg;
                $("#brandname").val(obj.BrandName);
                $("#initial").val(obj.Initial);
                $("#remark").val(obj.Remark);
                $("#logurl").attr("src", getQiniuUrl(obj.Logurl));
                $("#hot").val(obj.Hot);
            }
        });
    }

    function Submit() {
        if (!confirm("确认修改品牌信息？")) {
            return;
        }
        if (!$("#brandname").val()) {
            alert("品牌名称不为空！");
            return;
        }
        var reg = /^[A-Z]$/;
        if (!$("#initial").val()) {
            alert("首字母不为空！");
            return; 
        }
        else{
            if (!reg.test($("#initial").val())) {
                alert("首字母格式输入不正确！");
                return;
        }
        }
        var json = {
            BrandName: $("#brandname").val(),
            Initial: $("#initial").val(),
            Logurl: "",
            Remark: $("#remark").val(),
            Hot: $.trim($("#hot").val()).length === 0 ? 0 : $("#hot").val()
        };
        if (id === "") {
            $.post("/api/Base/AddCarBrand", json, function (result) {
                var str = result.errcode === 0 ? "添加成功" : "添加失败";
                if (result.errmsg != 1) {
                    alert(result.errmsg);
                } else {
                    alert(str);
                }
                getBodyHtml('mainbody', '/Base/Base/BaseCarBrandList');
            });
        }
        else {
            json.Innerid = id;
            $.ajax({
                url: '/api/Base/UpdateCarBrand',
                type: 'post',
                datatype: 'application/json',
                data: json,
                async: false,
                success: function (result) {
                    var str = result.errcode === 0 ? "更新成功" : "更新失败";
                    alert(str);
                    getBodyHtml('mainbody', '/Base/Base/BaseCarBrandList');
                }
            });
        }
    }
</script>

<div>
    <div style="font-size:18px;font-weight:bold;text-align:center" id="title">品牌信息编辑</div>
    <table id="carbrand" class="gridtable">
        <tbody>
            <tr>
                <td><label class="required">*</label>品牌名称</td>
                <td><input type="text" id="brandname" /></td>
            </tr>
            <tr>
                <td><label class="required">*</label>首字母</td>
                <td><input type="text" id="initial" /></td>
            </tr>
            <tr>
                <td>品牌图标</td>
                <td>
                    <input type="file" id="fLogurl" />
                    <img id="logurl" style="max-width: 150px;max-height:150px" src="" />
                </td>
            </tr>
            <tr>
                <td>备注</td>
                <td><textarea id="remark" maxlength="200" rows="5" onclose="150" placeholder="备注"></textarea></td>
            </tr>
            <tr>
                <td>热度</td>
                <td><input type="text" id="hot" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="保存" onclick="Submit()" /></td>
                <td><input type="button" value="返回" onclick="getBodyHtml('mainbody', '/Base/Base/BaseCarBrandList');" /></td>
            </tr>
        </tbody>
    </table>
</div>

