
@{
//ViewBag.Title = "CarList";
//Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    var custid = "@ViewBag.custid";

    $(function () {
        InitBrand();
        QueryList();
        $("#btnAdd").click(function () {
            getBodyHtml('mainbody', "/car/car/caredit?custid=" + custid);
            //location.href = "/car/car/caredit?custid=" + custid;
        });
        if (custid != "") {
            $("#btnBack").click(function () {
                getBodyHtmlByMenu('mainbody', '/Customer/Customer/CustomerList', this);
            });
        }

    });

    //初始化品牌
    function InitBrand() {
        $("#selectbrand").empty();
        $("#selectbrand").append("<option value='0'>请选择</option>");
        $.get("/api/Base/GetCarBrand", function (data) {

            data = data.errmsg;
            $.each(data, function (k, v) {
                $("#selectbrand").append("<option value='" + v.Innerid + "'>" + v.Initial + " " + v.BrandName + "</option>");
            });
        });
    }

    //初始化车系
    function InitSeries(brandid) {
        $("#selectseries").empty();
        $("#selectseries").append("<option value='0'>请选择</option>");
        $.get("/api/Base/GetCarSeries?brandId=" + brandid, function (data) {

            data = data.errmsg;
            $.each(data, function (k, v) {
                $("#selectseries").append("<option value='" + v.Innerid + "'>" + v.SeriesName + "</option>");
            });
        });
    }

    //初始化车型
    function InitModel(seriesid) {
        $("#selectmodel").empty();
        $("#selectmodel").append("<option value='0'>请选择</option>");
        $.get("/api/Base/GetCarModel?seriesId=" + seriesid, function (data) {

            data = data.errmsg;
            $.each(data, function (k, v) {
                $("#selectmodel").append("<option value='" + v.Innerid + "'>" + v.Modelname + "</option>");
            });
        });
    }


    function QueryList() {
        var json = { custid: custid, brand_id: $("#selectbrand").val(), series_id: $("#selectseries").val(), model_id: $("#selectmodel").val(), status: $("#selectstatus").val() };
        $("#carlist").getPageList(20, "/api/Car/GetCarPageList", json, LoadData);
    }

    function LoadData(data, index) {
        $("#carlist tbody").empty();

        var str = "";

        $.each(data, function (key, val) {
            var seecount = 0;
            if (val.ShareModel != null && val.ShareModel.SeeCount != null) {
                seecount = val.ShareModel.SeeCount;
            }
            str = "";
            str += "<tr>";
            str += "<td>" + (index + key) + "</td>";
            str += "<td>" + (val.model_name == null ? "" : val.model_name.sub(400)) + "</td>";
            str += "<td>" + Dateformat(val.buytime, "yyyy-MM-dd") + "</td>";
            str += "<td>" + (val.buyprice == null ? '' : val.buyprice) + "</td>";
            str += "<td>" + val.mileage + "</td>";
            str += "<td>" + Dateformat(val.register_date, "yyyy-MM") + "</td>";
            str += "<td>" + val.price + "</td>";
            str += "<td>" + ChangeStatusName(val.status) + "</td>";
            str += "<td data-value='" + seecount + "'>" + seecount + "&nbsp;&nbsp;<a href='javascript:;' onclick=\"AddSeeCount('" + val.Innerid + "',this);\">+</a></td>";
            str += "<td>" +
                "<a onclick=\"getBodyHtml('mainbody', '/car/car/caredit?custid=" + custid + "&carid=" + val.Innerid + "');\" href='javascript:;'>修改</a> " +
                "<a href='javascript:;' onclick=\"DealCar('" + val.Innerid + "',this);\">结案</a> " +
                "<a href='javascript:;' onclick=\"DeleteCar('" + val.Innerid + "',this);\">删除</a> " +
                "<a href='javascript:;' onclick=\"RefreshCar('" + val.Innerid + "');\">刷新</a> " +
                "<a href='javascript:;' onclick=\"PushUpCar('" + val.Innerid + "');\"> 顶 </a> " +
                //"<a href='javascript:;' onclick=\"DoTopCar('" + val.Innerid + "'," + val.istop + ");\">" + (val.istop == 1 ? "取消置顶" : "置顶") + "</a> " +
                "</td>";
            str += "</tr>";
            $("#carlist tbody").append(str);
        });
    }

    //刷新车辆
    function RefreshCar(id) {
        $.get("/api/Car/RefreshCar?carid=" + id, function (result) {
            if (result.errcode === 401) {
                alert("刷新次数已经用完");
            }
            else if (result.errcode === 0) {
                getBodyHtml('mainbody', '/car/car/carlist?custid=' + custid);
            } else {
                alert("操作失败");
            }
        });
    }

    //置顶车辆
    function PushUpCar(id) {
        $.get("/api/Car/PushUpCar?carid=" + id, function (result) {
            if (result.errcode === 401) {
                alert("置顶次数已经用完");
            }
            else if (result.errcode === 0) {
                getBodyHtml('mainbody', '/car/car/carlist?custid=' + custid);
            } else {
                alert("操作失败");
            }
        });
    }

    //（取消）置顶车辆
    function DoTopCar(id, istop) {
        istop = istop === 1 ? 0 : 1;
        $.get("/api/Car/DoTopCar?carid=" + id + "&istop=" + istop, function (result) {
            if (result.errcode === 0) {
                getBodyHtml('mainbody', '/car/car/carlist?custid=' + custid);
            } else {
                alert("操作失败");
            }
        });
    }

    /*
    *新增浏览次数
    */
    function AddSeeCount(id, obj) {
        var count = 0;
        //获取10-20之间的随机数
        count = Math.ceil(Math.random() * 10) + 10;
        $.get("/api/Car/UpSeeCount?id=" + id + "&count=" + count, function (result) {
            if (result.errcode == 0) {
                count += parseInt($(obj).parent().attr("data-value"));
                $(obj).parent().attr("data-value", count);
                $(obj).parent().html(count + "&nbsp;&nbsp;<a href='javascript:;' onclick=\"AddSeeCount('" + id + "',this);\">+</a></td>")
            }
        });
    }

    function DeleteCar(id, obj) {

        $(obj).after($("#deleteDiv").removeClass("hide"));

        $("#delsubmit").unbind("click").bind("click", function () {
            var json = { Innerid: id, dealdesc: $("#deldesc").val() };
            $.post("/api/Car/DeleteCar", json, function (delres) {
                if (delres.errcode === 0) {
                    getBodyHtml('mainbody', '/car/car/carlist?custid=' + custid);
                } else {
                    alert("删除失败");
                }
            });
        });
    }

    //车辆结案
    function DealCar(id, obj) {

        $(obj).after($("#dealDiv").removeClass("hide"));

        $("#dealsubmit").unbind("click").bind("click", function () {
            if ($.trim($("#dealprice").val()).length > 0 && !re.test($("#dealprice").val())) {
                alert("价格只能输入数值[最多两位小数]！");
                return false;
            }
            if ($("#dealdesc").val() == "" || $("#dealprice").val() == "") {
                alert("请将价格和描述填写完整！");
            }
            else {
                var json = { Innerid: id, deletedesc: $("#dealdesc").val(), dealprice: $("#dealprice").val() };
                $.post("/api/Car/DealCar", json, function (dealres) {
                    if (dealres.errcode === 0) {
                        getBodyHtml('mainbody', '/car/car/carlist?custid=' + custid);
                    } else {
                        alert("结案失败");
                    }
                });
            }
        });
    }

    function ChangeStatusName(status) {
        switch (status) {
            case 0:
                return "已删除";
            case 1:
                return "在售";
            case 2:
                return "已售";
            default:

        }
        return "";
    }

</script>
<div style="margin: 0 auto;">
    <div style="font-size: 18px; font-weight: bold; text-align: center">车辆列表 @ViewBag.custname</div>

    <div style="padding-bottom:5px">
        <div class="row">
            <div class="col-lg-9 col-sm-9 col-xs-9">
                <div class="form-group">
                    <label for="nickname" class="col-sm-2 control-label no-padding-right searchLayout">品牌/车系/车型：</label>
                    <div class="col-sm-8">
                        <select id="selectbrand" onchange="InitSeries(this.options[this.options.selectedIndex].value)">
                            <option value="0">请选择</option>
                        </select>
                        <select id="selectseries" onchange="InitModel(this.options[this.options.selectedIndex].value)">
                            <option value="0">请选择</option>
                        </select>
                        <select id="selectmodel" onchange="GetModelInfo(this.options[this.options.selectedIndex].value)">
                            <option value="0">请选择</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-3">
            </div>
        </div>
        <div class="row" style="margin-top:5px">
            <div class="col-lg-9 col-sm-9 col-xs-9">
                <div class="form-group">
                    <label for="nickname" class="col-sm-2 control-label no-padding-right searchLayout">状态：</label>
                    <div class="col-sm-7">
                        <select id="selectstatus" style="width:300px;">
                            <option>请选择</option>
                            <option value="1">在售</option>
                            <option value="2">已售</option>
                        </select>
                        <a href="javascript:void(0);" class="btn btn-palegreen shiny" onclick="QueryList();">查询</a>
                        <a id="btnAdd" href="javascript:;" class="btn btn-primary shiny">添加</a>
                        <a id="btnBack" href="javascript:;" class="btn btn-palegreen shiny">返回</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-3">

            </div>
        </div>
    </div>

    <table class="table table-striped table-hover table-bordered" id="carlist">
        <thead>
            <tr role="row">
                <th>序号</th>
                <th>车型</th>
                <th>收购日期</th>
                <th>收购价格</th>
                <th>公里数</th>
                <th>上牌时间</th>
                <th>销售价</th>
                <th>状态</th>
                <th>浏览次数</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>
<div id="deleteDiv" class="hide" style="background-color: #ccc; margin-top: 8px;padding: 5px">

    描述:
    <input type="text" id="deldesc" maxlength="200" />
    <input type="button" value="确定" id="delsubmit" />
    <input type="button" value="取消" onclick="$(this).parent().addClass('hide')" />
</div>
<div id="dealDiv" class="hide" style="background-color: #ccc; margin-top: 8px;padding: 5px">
    金额:
    <input type="text" id="dealprice" maxlength="10" />
    描述:
    <input type="text" id="dealdesc" maxlength="200" />
    <input type="button" value="确定" id="dealsubmit" />
    <input type="button" value="取消" onclick="$(this).parent().addClass('hide')" />
</div>

