<script type="text/javascript">

    $(function () {
        InitBrand();
        QueryList();
        $("#btnAdd").click(function () {
            getBodyHtml('mainbody', "/car/car/CarMaddenCarEdit");
        });
    });

    //初始化品牌
    function InitBrand() {
        $("#selectbrand").empty();
        $("#selectbrand").append("<option value='0'>请选择</option>");
        $.get("/api/Base/GetCarBrand", function (data) {

            data = data.errmsg;
            $.each(data, function (k, v) {
                $("#selectbrand").append("<option value='" + v.Innerid + "'>" + v.Initial + " " + v.BrandName + "</option>");
            });
        });
    }

    //初始化车系
    function InitSeries(brandid) {
        $("#selectseries").empty();
        $("#selectseries").append("<option value='0'>请选择</option>");
        $.get("/api/Base/GetCarSeries?brandId=" + brandid, function (data) {

            data = data.errmsg;
            $.each(data, function (k, v) {
                $("#selectseries").append("<option value='" + v.Innerid + "'>" + v.SeriesName + "</option>");
            });
        });
    }

    //初始化车型
    function InitModel(seriesid) {
        $("#selectmodel").empty();
        $("#selectmodel").append("<option value='0'>请选择</option>");
        $.get("/api/Base/GetCarModel?seriesId=" + seriesid, function (data) {

            data = data.errmsg;
            $.each(data, function (k, v) {
                $("#selectmodel").append("<option value='" + v.Innerid + "'>" + v.Modelname + "</option>");
            });
        });
    }

    function QueryList() {
        var json = { brand_id: $("#selectbrand").val(), series_id: $("#selectseries").val(), model_id: $("#selectmodel").val(), status: $("#selectstatus").val() };
        $("#carmaddenlist").getPageList(20, "/api/Car/GetMaddenCarBackPageList", json, LoadData);
    }

    function LoadData(data, index) {
        $("#carmaddenlist tbody").empty();

        var str = "";

        $.each(data, function (key, val) {
            str = "";
            str += "<tr>";
            str += "<td>" + (index + key) + "</td>";
            str += "<td>" + val.carno + "</td>";
            str += "<td>" + (val.model_name == null ? "" : val.model_name.sub(400)) + "</td>";
            str += "<td>" + val.provname + " " + val.cityname + "</td>";
            str += "<td>" + val.guideprice + "</td>";
            str += "<td>" + val.price + "</td>";
            str += "<td>" + ChangeStatusName(val.status) + (val.isdeleted === 1 ? "<span style='color:red'>[已删除]</span>" : "") + "</td>";
            str += "<td>" +
                "<a onclick=\"getBodyHtml('mainbody', '/car/car/CarMaddenCarEdit?innerid=" + val.innerid + "');\" href='javascript:;'>修改</a> " +
                "<a href='javascript:;' onclick=\"PushUpMaddenCar('" + val.innerid + "');\"> 顶 </a> " ;

            if (val.status === 1) {
                str += "<a href='javascript:;' onclick=\"DealMaddenCar('" + val.innerid + "',this);\">结案</a> ";
            }

            if (val.isdeleted === 1) {
                str += "<a href='javascript:;' onclick=\"RecoveryMaddenCar('" + val.innerid + "',this);\">恢复</a> ";
            } else {
                str += "<a href='javascript:;' onclick=\"DeleteMaddenCar('" + val.innerid + "',this);\">删除</a> ";
            }

            str += "</td></tr>";
            $("#carmaddenlist tbody").append(str);
        });
    }

    function DeleteMaddenCar(id, obj) {

        $(obj).after($("#deleteDiv").removeClass("hide"));

        $("#delsubmit").unbind("click").bind("click", function () {
            var json = { innerid: id, deletedesc: $("#deldesc").val() };
            delJson("/api/Car/DeleteMaddenCar", json, function (delres) {
                if (delres.errcode === 0) {
                    getBodyHtml('mainbody', '/car/car/CarMaddenCarList');
                } else {
                    alert("删除失败");
                }
            });
        });
    }

    function RecoveryMaddenCar(id, obj) {

        $(obj).after($("#recoveryDiv").removeClass("hide"));
        $("#recsubmit").unbind("click").bind("click", function () {
            var json = { Innerid: id, deletedesc: $("#recdesc").val() };
            postJson("/api/Car/RecoveryMaddenCar", json, function (delres) {
                if (delres.errcode === 0) {
                    getBodyHtml('mainbody', '/car/car/CarMaddenCarList');
                } else {
                    alert("操作失败");
                }
            });
        });
    }

    //车辆结案
    function DealMaddenCar(id, obj) {

        $(obj).after($("#dealDiv").removeClass("hide"));
        $("#dealsubmit").unbind("click").bind("click", function () {
            var re = /^[0-9]+([.]{1}[0-9]{1,2})?$/;
            if ($.trim($("#dealprice").val()).length > 0 && !re.test($("#dealprice").val())) {
                alert("价格只能输入数值[最多两位小数]！");
                return false;
            }
            if ($("#dealdesc").val() === "" || $("#dealprice").val() === "") {
                alert("请将价格和描述填写完整！");
            }
            else {
                var json = { innerid: id, dealdesc: $("#dealdesc").val(), dealprice: $("#dealprice").val() };
                $.post("/api/Car/DealMaddenCar", json, function (dealres) {
                    if (dealres.errcode === 0) {
                        getBodyHtml('mainbody', '/car/car/CarMaddenCarList');
                    } else {
                        alert("结案失败");
                    }
                });
            }
            return false;
        });
    }

    //顶车辆
    function PushUpMaddenCar(id) {

        $.get("/api/Car/PushUpMaddenCar?innerid=" + id, function (result) {
            if (result.errcode === 0) {
                getBodyHtml('mainbody', '/car/car/CarMaddenCarList');
            } else {
                alert("操作失败");
            }
        });
    }

    function ChangeStatusName(status) {
        switch (status) {
            case 1:
                return "在售";
            case 2:
                return "已售";
            default:
        }
        return "";
    }

</script>
<div style="margin: 0 auto;">
    <div style="font-size: 18px; font-weight: bold; text-align: center">劲爆车源列表</div>

    <div style="padding-bottom:5px">
        <div class="row">
            <div class="col-lg-9 col-sm-9 col-xs-9">
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label no-padding-right searchLayout">品牌/车系/车型：</label>
                    <div class="col-sm-8">
                        <select id="selectbrand" style="width:160px;" onchange="InitSeries(this.options[this.options.selectedIndex].value)">
                            <option value="0">请选择</option>
                        </select>
                        <select id="selectseries" onchange="InitModel(this.options[this.options.selectedIndex].value)">
                            <option value="0">请选择</option>
                        </select>
                        <select id="selectmodel" onchange="GetModelInfo(this.options[this.options.selectedIndex].value)">
                            <option value="0">请选择</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-3">
            </div>
        </div>
        <div class="row" style="margin-top:5px">
            <div class="col-lg-9 col-sm-9 col-xs-9">
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label no-padding-right searchLayout">状态：</label>
                    <div class="col-sm-7">
                        <select id="selectstatus" style="width:160px;">
                            <option>请选择</option>
                            <option value="1">在售</option>
                            <option value="2">已售</option>
                        </select>
                        <a href="javascript:void(0);" class="btn btn-palegreen shiny" onclick="QueryList();">查询</a>
                        <a id="btnAdd" href="javascript:;" class="btn btn-primary shiny">添加</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-3">

            </div>
        </div>
    </div>

    <table class="table table-striped table-hover table-bordered" id="carmaddenlist">
        <thead>
            <tr role="row">
                <th>序号</th>
                <th>车辆编号</th>
                <th>车型</th>
                <th>地区</th>
                <th>指导价</th>
                <th>现售价</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>
<div id="deleteDiv" class="hide" style="background-color: #ccc; margin-top: 8px; padding: 5px">
    描述:
    <input type="text" id="deldesc" maxlength="200"/>
    <input type="button" value="确定" id="delsubmit"/>
    <input type="button" value="取消" onclick="$(this).parent().addClass('hide')"/>
</div>
<div id="recoveryDiv" class="hide" style="background-color: #ccc; margin-top: 8px;padding: 5px">
    恢复描述:
    <input type="text" id="recdesc" maxlength="200" />
    <input type="button" value="确定" id="recsubmit" />
    <input type="button" value="取消" onclick="$(this).parent().addClass('hide')" />
</div>
<div id="dealDiv" class="hide" style="background-color: #ccc; margin-top: 8px;padding: 5px">
    金额:
    <input type="text" id="dealprice" maxlength="10" />
    描述:
    <input type="text" id="dealdesc" maxlength="200" />
    <input type="button" value="确定" id="dealsubmit" />
    <input type="button" value="取消" onclick="$(this).parent().addClass('hide')" />
</div>

