
@{
    ViewBag.Title = "CarBrandList";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<script type="text/javascript">
    $(function () {
        QueryList();
    });
    debugger
    function QueryList() {
        var json = { brandname: $("#title").val() };
        $("#carbrandlist").getPageList(20, "/api/Base/GetCarBrandList", json, LoadData);
    }
    function LoadData(data,index) {
        $("#carbrandlist tbody").empty();

        var str = "";
        debugger
        $.each(data, function (key, val) {
            str = "";
            str += "<tr>";
            str += "<td>" + (index + key) + "</td>";
            str += "<td>" + val.Innerid + "</td>";
            str += "<td>" + (val.BrandName == null ? "" : val.BrandName.sub(400)) + "</td>";
            str += "<td>" + val.Initial + "</td>";
            str += "<td>" + (val.IsEnabled === 1 ? "启用中" : "<font color='red'>禁用中</font>") + "</td>";
            str += "<td>" + val.Remark + "</td>";
            str += "<td>" + val.Logurl + "</td>";
            str += "<td>" + val.Hot + "</td>";
            str += "<td>" +
               "<a href='/Base/Base/BaseCarBrandEdit?innerid=" + val.Innerid + "'>修改</a>" +
               "<a href='/Base/Base/BaseCarBrandView?innerid=" + val.Innerid + "'>详情</a>" +
               "<a href='javascript:;' onclick=\"DeleteCarBrand('" + val.Innerid + "');\">删除</a>" +
               "<a href='javascript:;' onclick=\"UpdateBrandStatus('" + val.Innerid + "'," + val.IsEnabled + ");\">" + (val.IsEnabled === 1 ? "禁用" : "启用") + "</a>" +
                "</td>";
            str += "</tr>";
            $("#carbrandlist tbody").append(str);
        });
    }
    debugger
    function UpdateBrandStatus(carid, status) {
        status = status === 1 ? 0 : 1;
        $.post("/api/Base/UpdateBrandStatus?carid=" + carid + "&status=" + status, null, function (result) {
            alert(result.errmsg);
            location.reload();
        });
    }
    function DeleteCarBrand(innerid) {
        if (!confirm("确认删除！")) {
            return;
        }
        debugger
        $.post("/api/Base/DeleteCarBrand?innerid=" + innerid, function (result) {
            var str = result.errcode === 0 ? "删除成功" : "删除失败";
            alert(str);
            location.href = "/Base/Base/BaseCarBrandList";
        });
    }
</script>
<div style="margin:0 auto">
    <div style="font-size:18px;font-weight:bold;text-align:center">品牌信息</div>
    <table style="margin:0 auto">
        <tr>
            <td>
                品牌名称:<input type="tel" id="title" /><input type="button" value="搜索" onclick="QueryList();" />
            </td>
            <td style="text-align:right"><a href='/Base/Base/BaseCarBrandEdit'>添加</a></td>
        </tr>
        <tr>
            <td colspan="2">
                <table id="carbrandlist" class="gridtable">
                    <thead>
                        <tr>
                            <td>id</td>
                            <td>主键id</td>
                            <td>品牌名称</td>
                            <td>首字母</td>
                            <td>是否可用</td>
                            <td>备注</td>
                            <td>图片地址</td>
                            <td>热度</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </td>
        </tr>
    </table>
</div>

