@{

}

<script type="text/javascript">

    var perid = "@ViewBag.perid";
    var voteid = "";

    var imgs = [];
    $(function () {
        Init();
    });

    function Init() {

        if (perid === "") {
            return;
        }

        $.get("/api/Activity/GetVotePerViewById?id=" + perid, function (data) {

            if (data.errcode !== 0) {
                alert("获取数据异常！");
                return;
            }

            var obj = data.errmsg;

            voteid = obj.Voteid;

            $("#lblnum").html(obj.Num);
            $("#txtfullname").val(obj.Fullname);
            $("#txtmobile").val(obj.Mobile);

            $("#imgpicture").attr("src", getQiniuUrl(obj.Picture));
            $("#lblip").html(obj.IP);

            $("#divfiles").html("<a href='" + getQiniuUrl(obj.Files) + "'>" + obj.Files + "</a>");
            $("#lblopenid").html(obj.Openid);

            $("#lblcreatedtime").html(Dateformat(obj.Createdtime, "yyyy-MM-dd HH:mm:ss"));
            $("#txtremark").val(obj.Remark);

        });
    }

    var changeSize = function (obj) {

        if ($(obj).css("max-width") === "100px") {
            $(obj).css("max-width", "").css("max-height", "");
        } else {
            $(obj).css("max-width", "100px").css("max-height", "100px");
        }
    }

    function goList() {
        getBodyHtml('mainbody', "/Activity/Activity/VotePerList?voteid=" + voteid);
    }

</script>

<div class="theme-popover-mask"></div>
<div class="widget">

    <div class="widget-header bordered-bottom bordered-palegreen">
        <span class="widget-caption">参赛人员信息</span>
    </div>
    <div class="widget-body">
        <div>
            <form class="form-horizontal form-bordered" role="form">
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">姓名</label>
                            <div class="controls col-sm-10">
                                <input id="txtfullname" type="text" placeholder="姓名" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">编号</label>
                            <div class="controls col-sm-10">
                                <label class="control-label no-padding-right" id="lblnum"></label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">成品图片</label>
                            <div class="controls col-sm-10">
                                <img onclick="changeSize(this)" id="imgpicture" style="max-width: 100px;max-height: 100px" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">联系手机号</label>
                            <div class="controls col-sm-10">
                                <input id="txtmobile" type="text" placeholder="联系手机号" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">其他文件</label>
                            <div class="controls col-sm-10" id="divfiles">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">ip</label>
                            <div class="controls col-sm-10">
                                <label class="control-label no-padding-right" id="lblip"></label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">参赛时间</label>
                            <div class="controls col-sm-10">
                                <label class="control-label no-padding-right" id="lblcreatedtime"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">openid</label>
                            <div class="controls col-sm-10">
                                <label class="control-label no-padding-right" id="lblopenid"></label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row form-group">

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="" class="col-sm-1 control-label no-padding-right">备注</label>
                            <div class="controls col-sm-11">
                                <textarea id="txtremark" maxlength="200" rows="5" cols="150" placeholder="备注"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="widget-body">
        <div>
            <form class="form-horizontal form-bordered" role="form">
                <div class="row form-group text-center">
                    <div class="col-lg-12">
                        <input type="button" class="btn btn-primary shiny" value="返回" onclick="goList();" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
