@{

}
<script type="text/javascript">

    $(function () {
        QueryList();
    });

    function QueryList() {
        $("#votelist").getPageList(20, "/api/Activity/GetVoteList", {}, LoadData);
    }

    function LoadData(data, index) {

        $("#votelist tbody").empty();
        var str = "";
        $.each(data, function (key, val) {

            str = "";
            str += "<tr>";
            str += "<td>" + (index + key) + "</td>";
            str += "<td>" + val.Title + "</td>";
            str += "<td>" + Dateformat(val.Enrollstarttime, "yyyy-MM-dd HH:mm:ss") + " - " + Dateformat(val.Enrollendtime, "yyyy-MM-dd HH:mm:ss") + "</td>";
            str += "<td>" + Dateformat(val.Votestarttime, "yyyy-MM-dd HH:mm:ss") + " - " + Dateformat(val.Voteendtime, "yyyy-MM-dd HH:mm:ss") + "</td>";
            str += "<td>" + Dateformat(val.Awardstime, "yyyy-MM-dd HH:mm:ss") + "</td>";
            str += "<td>" + val.Numper + "</td>";
            str += "<td>" + val.Numvote + "</td>";
            var btn = "";
            btn += "<a href='javascript:;' onclick=\"getBodyHtml('mainbody', '/Activity/Activity/VoteView?activityid=" + val.Innerid + "');\"> 查看详情 </a> ";
            btn += "<a href='javascript:;' onclick=\"getBodyHtml('mainbody', '/Activity/Activity/VotePerList?activityid=" + val.Innerid + "');\"> 参赛人员 </a> ";
            str += "<td>" + btn + "</td></tr>";
            $("#votelist tbody").append(str);
        });
    }


</script>
<div style="margin: 0 auto;">
    <div style="font-size: 18px; font-weight: bold; text-align: center">投票活动列表</div><br />
    
    <table class="table table-striped table-hover table-bordered" id="votelist">
        <thead>
            <tr role="row">
                <th>序号</th>
                <th>投票主题</th>
                <th>参赛时间</th>
                <th>投票时间</th>
                <th>颁奖时间</th>
                <th>参赛人数</th>
                <th>投票总数</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>
