@{

}
<script type="text/javascript">

    var voteid = "@ViewBag.voteid";

    $(function() {
        QueryList();
    });

    function QueryList() {

        var json = { Voteid: voteid, Num: $("#txtnum").val(), Fullname: $("#txtfullname").val(), Mobile: $("#txtmobile").val() };

        if ($("#chkRanking").prop("checked")) {
            json.Order = "votenum desc";
        } else {
            json.Order = "";
        }

        $("#voteperlist").getPageList(20, "/api/Activity/GetVotePerList", json, LoadData);
    }

    function LoadData(data, index) {

        $("#voteperlist tbody").empty();
        var str = "";
        $.each(data, function(key, val) {

            str = "";
            str += "<tr>";
            str += "<td>" + (index + key) + "</td>";
            str += "<td>" + val.Num + "</td>";
            str += "<td>" + val.Fullname + "</td>";
            str += "<td>" + val.Mobile + "</td>";
            str += "<td id='" + val.Innerid + "'>" + val.Votenum + "</td>";
            str += "<td><img onclick='changeSize(this)' alt='' src='" + getQiniuUrl(val.Picture) + "' id='imgpicture'  class=\"imgsmall\"/></td>";

            var btn = "";
            //btn += "<a href='javascript:;' onclick=\"getBodyHtml('mainbody', '/Activity/Activity/VotePerEdit?perid=" + val.Innerid + "');\"> 修改 </a> ";
            btn += "<a href='javascript:;' onclick=\"getBodyHtml('mainbody', '/Activity/Activity/VotePerView?perid=" + val.Innerid + "');\"> 查看详情 </a> ";
            btn += "<a href='javascript:;' onclick=\"addVote('" + val.Innerid + "');\"> 加票 </a> ";
            str += "<td>" + btn + "</td></tr>";
            $("#voteperlist tbody").append(str);
        });
    }

    var changeSize = function(obj) {

        if ($(obj).css("max-width") === "100px") {
            $("img").addClass("imgsmall");
            $("img").removeClass("imgbig");
            $(obj).addClass("imgbig");
            $(obj).removeClass("imgsmall");
        } else {
            $(obj).addClass("imgsmall");
            $(obj).removeClass("imgbig");
        }
    }

    var addVote = function (perid) {

        var number = 10;
        var json = { Voteid: voteid, Perid: perid };
        postJson("/api/Activity/AddVoteLog?number=" + number, json, function (result) {

            if (result.errcode === 0) {
                var td = $("#" + perid);
                td.html(parseInt(td.html(), 10) + number);

            } else {
                alert("操作失败");
            }
        });
    }

</script>
<style type="text/css">
    .imgbig {
        position: relative;
        z-index: 999;
        max-width: 1200px;
        max-height: 1200px;
        cursor: pointer;
    }

    .imgsmall {
        position: inherit;
        z-index: 0;
        max-width: 100px;
        max-height: 100px;
        cursor: pointer;
    }
</style>

<div style="margin: 0 auto;">
    <div style="font-size: 18px; font-weight: bold; text-align: center">参赛人员列表</div><br />
    <div class="row">
        <div class="col-lg-3 col-sm-3 col-xs-3">
            <label for="" class="col-sm-4 control-label no-padding-right searchLayout">编号：</label>
            <div class="col-sm-8">
                <input type="text" id="txtnum" placeholder="编号" class="form-control"/>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-3">
            <label for="" class="col-sm-4 control-label no-padding-right searchLayout">姓名：</label>
            <div class="col-sm-8">
                <input type="text" id="txtfullname" placeholder="姓名" class="form-control"/>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-3">
            <label for="" class="col-sm-4 control-label no-padding-right searchLayout">手机号：</label>
            <div class="col-sm-8">
                <input type="text" id="txtmobile" placeholder="手机号" class="form-control"/>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
                <label for="" class="col-sm-8 control-label no-padding-right searchLayout">排名</label>
                <div class="col-sm-4 rd" style="padding-top:3px;">
                    <input type="checkbox" id="chkRanking" style="opacity: 100; position: inherit; left: auto;" />
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-2 col-xs-2">
            <a href="javascript:void(0);" class="btn btn-palegreen shiny" onclick="QueryList();">查询</a>
            @*<a id="btnAdd" href="javascript:;" class="btn btn-primary shiny">添加</a>*@
        </div>
    </div><br/>
    <table class="table table-striped table-hover table-bordered" id="voteperlist">
        <thead>
            <tr role="row">
                <th>序号</th>
                <th>编号</th>
                <th>姓名</th>
                <th>手机号</th>
                <th>得票数</th>
                <th>成品图片</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>
