<?xml version="1.0" encoding="utf-8" ?>
<unity>
  <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
  <sectionExtension type="Cedar.Core.EntLib.IoC.Configuration.AutoInterceptionConfigurationExtension, Cedar.Core.EntLib" />
  <container>
    <!--<register type="CCN.Modules.Customer.Interface.ICustomerManagementService, CCN.Modules.Customer.Interface" mapTo="CCN.Modules.Customer.BusinessService.CustomerManagementService, CCN.Modules.Customer.BusinessService" />-->
    <register type="FrameworkTest.TestService.ITestService, FrameworkTest" mapTo="FrameworkTest.TestService.TestService, FrameworkTest" />
    <autoInterception>
      <interceptor type="TransparentProxyInterceptor" />
    </autoInterception>
    <extension type="Interception" />
    <extension type="AutoInterception" />
  </container>
</unity>