
@{
// Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">

    var companyid = "@ViewBag.companyid";
    var companyname = "";

    $(function () {
        getJson("/api/Customer/GetCompanyModelById?innerid=" + companyid, null, function (data) {
            companyname = data.errmsg.CompanyName;
        },false);
        QueryList();
    });

    function QueryList() {
        var json = { OfficePhone: $("#OfficePhone").val(), settid: companyid };
        $("#applylist").getPageList(20, "/api/Customer/GetUpdateApplyPageList", json, LoadData);
    }

    function LoadData(data, index) {

        $("#applylist tbody").empty();

        var str = "";

        $.each(data, function (key, val) {
            str = "";
            str += "<tr>";
            str += "<td>" + (index + key) + "</td>";
            str += "<td>" + (val.Companytitle == null ? "" : val.Companytitle.sub(50)) + "</td>";
            str += "<td>" + (val.Address == null ? "" : val.Address.sub(50)) + "</td>";
            str += "<td>" + (val.OperName == null ? "" : val.OperName.sub(50)) + "</td>";
            str += "<td>" + (val.OriginalRegistCapi == null ? "" : val.OriginalRegistCapi.sub(50)) + "</td>";
            str += "<td>" + (val.CompanyStatus == null ? "" : val.CompanyStatus.sub(50)) + "</td>";
            str += "<td>" + (val.OfficePhone == null ? "" : val.OfficePhone.sub(50)) + "</td>";
            str += "<td>";
            str += "<a onclick=\"getBodyHtml('mainbody', '/customer/customer/CompanyUpdateView?applyid=" + val.Innerid + "');\" href='javascript:;'>查看详情</a> ";
            str += "</td>";
            str += "</tr>";
            $("#applylist tbody").append(str);
        });
    }

    

</script>

<div>

    <div style="padding-bottom:5px">
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-3">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label no-padding-right searchLayout">联系电话：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="OfficePhone" placeholder="联系电话">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-3">

            </div>
            <div class="col-lg-3 col-sm-3 col-xs-3">

            </div>
            <div class="col-lg-3 col-sm-3 col-xs-3">
                <a href="javascript:void(0);" class="btn btn-palegreen shiny" onclick="QueryList();">查询</a>
            </div>
        </div>
    </div>

    <table class="table table-striped table-hover table-bordered" id="applylist">
        <thead>
            <tr role="row">
                <th>序号</th>
                <th>商家名称</th>
                <th>地址</th>
                <th>法人</th>
                <th>注册资金</th>
                <th>公司状态</th>
                <th>联系电话</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>



