
@{
//ViewBag.Title = "CustomerView";
//Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    var innerid = "@ViewBag.innerid";  //会员id

    $(function() {
        Init();
    });

    function Init() {

        if (innerid === "") {
            return;
        }

        //会员基本信息
        $.get("/api/Customer/GetCustById?innerid=" + innerid, function (data) {

            if (data.errcode !== 0) {
                alert("获取会员基本信息失败！");
                return;
            }

            var obj = data.errmsg;

            $("#custname").html(obj.Custname);

            $("#mobile").html(obj.Mobile);
            $("#telephone").html(obj.Telephone);
            $("#brithday").html(Dateformat(obj.Brithday, "yyyy-MM-dd"));
            $("#qq").html(obj.QQ);
            $("#signature").html(obj.Signature);
            $("#location").html(
                (obj.ProvName == null ? "" : obj.ProvName) + " " +
                (obj.CityName == null ? "" : obj.CityName) + " " +
                (obj.Area == null ? "" : obj.Area));
            $("#status").html(obj.Status === 1 ? "正常" : "<font color='red'>冻结中</font>");

            var headurl = "";
            if (obj.Headportrait != null && obj.Headportrait !== "") {
                headurl = getQiniuUrl(obj.Headportrait);
            }
            else {
                headurl = obj.Wechat == null ? "" : obj.Wechat.Photo;
            }

            var qrcodeurl = getQiniuUrl(obj.QrCode);
            $("#headportrait").html("<img width='150' height='150' src='" + headurl + "' />");
            $("#qrcode").html("<img width='150' height='150' src='" + qrcodeurl + "' />");

            $("#level").html(obj.Level);
           

            if (obj.TotalInfo == null) {
                $("#totalpoints").html(0);
                $("#totalcoupon").html(0);
            } else {
                $("#totalpoints").html(obj.TotalInfo.Currpoint);
                $("#totalcoupon").html(obj.TotalInfo.Currpouponnum);
            }

            $("#createdtime").html(Dateformat(obj.Createdtime, "yyyy-MM-dd HH:mm:ss"));

            $("#authstatus").html(ChangAuthStatus(obj.AuthStatus));

            //提交过认证信息
            if (obj.AuthStatus !== 0) {
                $.get("/api/Customer/GetCustAuthByCustid?custid=" + innerid, function (data) {
                    console.log(data);
                    if (data.errcode !== 0) {
                        alert("获取会员认证信息失败！");
                        return;
                    }
                    var authObj = data.errmsg;

                    $("#realname").html(authObj.Realname);
                    $("#idcard").html(authObj.Idcard);
                    $("#enterprisename").html(authObj.Enterprisename);
                    $("#licencecode").html(authObj.Licencecode);
                    $("#licencearea").html(authObj.Licencearea);
                    $("#organizationcode").html(authObj.Organizationcode);
                    $("#taxcode").html(authObj.Taxcode);

                    var applytime = authObj.Modifiedtime == null ? authObj.Createdtime : authObj.Modifiedtime;
                    $("#applytime").html(Dateformat(applytime, "yyyy-MM-dd HH:mm:ss"));

                    if (authObj.Relevantpicture != null && authObj.Relevantpicture != undefined) {
                        $.each(authObj.Relevantpicture.split(","), function (key, val) {
                            if ($.trim(val).length > 0) {
                                $("#relevantpicture").append("<img style='max-width:200px;max-height=150px' src='" + getQiniuUrl(val) + "' />");
                            }
                        });
                    }

                    //初始化块
                    switch (obj.AuthStatus) {
                        case 1:
                        case 4:
                            $("#btnAudit").removeClass("hide");
                            $("#audit").removeClass("hide");
                            break;
                        case 2:
                        case 3:
                            $("tr[name='auditresult']").removeClass("hide");
                            $("#auditper").html(authObj.AuditPer);
                            $("#audittime").html(Dateformat(authObj.AuditTime, "yyyy-MM-dd HH:mm:ss"));
                            $("#auditdescview").html(authObj.AuditDesc);
                            $("#btnCancelAudit").removeClass("hide");
                            break;
                        default:

                    }
                });
            }
        });

        $("#btnAudit").click(function () {

            var res = $("#auditresult").val();
            if (res === "-1") {
                alert("请选择审核结果！");
                return;
            }

            var json = { Custid: innerid, AuditResult: res, AuditDesc: $("#auditdesc").val() };
            if (!confirm("确认审核？")) {
                return;
            }

            $.post("/api/Customer/AuditAuthentication", json, function (data) {
                if (data.errcode === 0) {
                    alert("操作成功");
                    self.location = document.referrer;
                }
                else {
                    alert("操作失败");
                }
            });
        });

        $("#btnCancelAudit").click(function () {

            if (!confirm("确认撤销审核？")) {
                return;
            }

            $.get("/api/Customer/CancelAudit?custid=" + innerid, function (data) {
                if (data.errcode === 0) {
                    alert("操作成功");
                    self.location = document.referrer;
                }
                else {
                    alert("操作失败");
                }
            });
        });
    }



    //认证状态[0.未提交认证，1.提交认证(待审核)，2.审核通过，3.审核不过，4.重新填写(重新提交认证)]
    function ChangAuthStatus(status) {

        switch (status) {
            case 0:
                return "未提交认证";
                break;
            case 1:
                return "待审核";
                break;
            case 2:
                return "审核通过";
                break;
            case 3:
                return "审核不过";
                break;
            case 4:
                return "重新填写";
                break;
            default:

        }
    }
</script>
<div class="widget">
    <div class="widget-header bordered-bottom bordered-palegreen">
        <span class="widget-caption">会员基本信息</span>
    </div>
    <div class="widget-body">
        <div>
            <form class="form-horizontal form-bordered" role="form">
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="mobile" class="col-sm-2 control-label no-padding-right">头像:</label>
                            <div class="col-sm-10" id="headportrait">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="txtbuyprice" class="col-sm-2 control-label no-padding-right">二维码:</label>
                            <div class="col-sm-10" id="qrcode">
                             
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="custname" class="col-sm-2 control-label no-padding-right">昵称:</label>
                            <div class="col-sm-10">
                                <span id="custname" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="mobile" class="col-sm-2 control-label no-padding-right">手机号:</label>
                            <div class="col-sm-10" >
                                <span id="mobile" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="brithday" class="col-sm-2 control-label no-padding-right">生日:</label>
                            <div class="col-sm-10">
                                <span id="brithday" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="telephone" class="col-sm-2 control-label no-padding-right">固定电话:</label>
                            <div class="col-sm-10">
                                <span id="telephone" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="status" class="col-sm-2 control-label no-padding-right">会员状态:</label>
                            <div class="col-sm-10">
                                <span id="status" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="level" class="col-sm-2 control-label no-padding-right">当前等级:</label>
                            <div class="col-sm-10">
                                <span id="level" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="totalpoints" class="col-sm-2 control-label no-padding-right">当前积分数:</label>
                            <div class="col-sm-10">
                                <span id="totalpoints" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="totalcoupon" class="col-sm-2 control-label no-padding-right">当前礼券数:</label>
                            <div class="col-sm-10">
                                <span id="totalcoupon" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="createdtime" class="col-sm-2 control-label no-padding-right">注册时间:</label>
                            <div class="col-sm-10">
                                <span id="createdtime" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="qq" class="col-sm-2 control-label no-padding-right">QQ:</label>
                            <div class="col-sm-10">
                                <span id="qq" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="location" class="col-sm-2 control-label no-padding-right">所在地:</label>
                            <div class="col-sm-10">
                                <span id="location" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="signature" class="col-sm-2 control-label no-padding-right">个人签名:</label>
                            <div class="col-sm-10">
                                <span id="signature" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="widget">
    <div class="widget-header bordered-bottom bordered-palegreen">
        <span class="widget-caption">会员认证信息</span>
    </div>
    <div class="widget-body">
        <div>
            <form class="form-horizontal form-bordered" role="form">
                <div class="row form-group">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="custname" class="col-sm-1 control-label no-padding-right">认证状态:</label>
                            <div class="col-sm-11">
                                <span id="custname" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="realname" class="col-sm-2 control-label no-padding-right">真实姓名:</label>
                            <div class="col-sm-10">
                                <span id="realname" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="idcard" class="col-sm-2 control-label no-padding-right">身份证号:</label>
                            <div class="col-sm-10">
                                <span id="idcard" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="enterprisename" class="col-sm-2 control-label no-padding-right">企业名称:</label>
                            <div class="col-sm-10">
                                <span id="enterprisename" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="licencecode" class="col-sm-2 control-label no-padding-right">工商营业执照注册号:</label>
                            <div class="col-sm-10">
                                <span id="licencecode" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="licencearea" class="col-sm-2 control-label no-padding-right">营业执照所在地:</label>
                            <div class="col-sm-10">
                                <span id="licencearea" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="organizationcode" class="col-sm-2 control-label no-padding-right">组织机构代码号:</label>
                            <div class="col-sm-10">
                                <span id="organizationcode" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="taxcode" class="col-sm-2 control-label no-padding-right">税务登记证号:</label>
                            <div class="col-sm-10">
                                <span id="taxcode" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="applytime" class="col-sm-2 control-label no-padding-right">申请时间:</label>
                            <div class="col-sm-10">
                                <span id="applytime" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="relevantpicture" class="col-sm-1 control-label no-padding-right">认证相关图片:</label>
                            <div class="col-sm-11">
                                <span id="relevantpicture" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group hide" id="audit" >
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="" class="col-sm-1 control-label no-padding-right">审核操作</label>
                            <div class="controls col-sm-11">
                                <select id="auditresult">
                                    <option value="-1">请选择...</option>
                                    <option value="1">通过</option>
                                    <option value="0">不通过</option>
                                </select>
                                <br />
                                <textarea id="auditdesc" maxlength="200" rows="5" cols="150" placeholder="请填写审核说明"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group hide" name="auditresult">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="auditper" class="col-sm-2 control-label no-padding-right">审核人:</label>
                            <div class="col-sm-10">
                                <span id="auditper" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="audittime" class="col-sm-2 control-label no-padding-right">审核时间:</label>
                            <div class="col-sm-10">
                                <span id="audittime" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group hide" name="auditresult">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="auditdescview" class="col-sm-1 control-label no-padding-right">审核说明:</label>
                            <div class="col-sm-11">
                                <span id="auditdescview" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group text-center">
                    <div class="col-lg-12">
                        <input id="btnAudit" type="button" class="btn btn-primary shiny hide" value="审核" />
                        <input id="btnCancelAudit" type="button" class="btn btn-primary shiny hide" value="撤销审核"  />
                        <input type="button" class="btn btn-primary shiny" value="返回" onclick="getBodyHtml('mainbody', '/customer/customer/customerlist');" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




