
@{
//ViewBag.Title = "CustomerEdit";
//Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<script type="text/javascript">

    $(function () {
        InitProv();
    });

    //初始化省份
    function InitProv() {
        $("#selectprov").empty();
        $("#selectprov").append("<option value='0'>请选择</option>");

        $.ajax({
            url: "/api/Base/GetProvList",
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {
                data = data.errmsg;
                $.each(data, function (k, v) {
                    $("#selectprov").append("<option value='" + v.Innerid + "'>" + v.ProvName + "</option>");
                });

                $("#selectprov").selectText(getCookie("province"));
                InitCity($("#selectprov").val());
            }
        });
    }

    //初始化城市
    function InitCity(provid) {

        $("#selectcity").empty();
        $("#selectcity").append("<option value='0'>请选择</option>");

        $.ajax({
            url: "/api/Base/GetCityList/?provid=" + provid,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {
                data = data.errmsg;
                $.each(data, function (k, v) {
                    $("#selectcity").append("<option value='" + v.Innerid + "'>" + v.CityName + "</option>");
                });
                $("#selectcity").selectText(getCookie("city"));

            }
        });
    }

    function Submit() {

        var json = {
            mobile: $("#mobile").val(),
            password: $("#password").val(),
            custname: $("#custname").val(),
            Cityid: $("#selectcity").val()
        };

        if ($.trim(json.mobile).length === 0) {
            alert("请填写手机号");
            return;
        }

        if ($.trim(json.password).length === 0) {
            alert("请填写密码");
            return;
        }

        if ($("#selectcity").val() === "0") {
            alert("请选择城市！");
            return false;
        }
        var mobile = $("#mobile").val(); //获取手机号
        var telReg = !!mobile.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[0678]|18[0-9]|14[57])[0-9]{8}$/);
        //如果手机号码不能通过验证
        if (!telReg) {
            alert("请填写正确的手机号");
            return;
        }

        $.post("/api/Customer/AddCustomer", json, function (result) {
            var str = "";
            switch (result.errcode) {
                case 0:
                    str = "添加成功";
                    break;
                case 402:
                    str = "手机号被其他人注册";
                    break;
                case 403:
                    str = "openid已绑定其他手机号";
                    break;
                case 405:
                    str = "手机号不能空";
                    break;
                case 404:
                    str = "添加失败";
                    break;
                default:
            }
            alert(str);
            getBodyHtml('mainbody', '/customer/customer/customerlist');
        });
    }

</script>

<div class="widget">
    <div class="widget-header bordered-bottom bordered-palegreen">
        <span class="widget-caption">会员快速注册</span>
    </div>
    <div class="widget-body">
        <div>
            <form class="form-horizontal form-bordered" role="form">
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="mobile" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>手机号:</label>
                            <div class="col-sm-10">
                                <input id="mobile" type="text" placeholder="手机号" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>密码:</label>
                            <div class="col-sm-10">
                                <input id="password" type="text" placeholder="密码" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="custname" class="col-sm-2 control-label no-padding-right">昵称:</label>
                            <div class="col-sm-10">
                                <input id="custname" type="text" placeholder="昵称" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>地区</label>
                            <div class="controls col-sm-10">
                                <select id="selectprov" onchange="InitCity(this.options[this.options.selectedIndex].value)">
                                    <option value="0">请选择</option>
                                </select>
                                <select id="selectcity">
                                    <option value="0">请选择</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group text-center">
                    <div class="col-lg-12">
                        <input id="submit" type="button" class="btn btn-palegreen shiny" value="保存" onclick="Submit();" />
                        <input type="button" class="btn btn-primary shiny" value="返回" onclick="getBodyHtml('mainbody', '/customer/customer/customerlist');" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>