<?xml version="1.0" encoding="utf-8" ?>
<unity>
  <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
  <sectionExtension type="Cedar.Core.EntLib.IoC.Configuration.AutoInterceptionConfigurationExtension, Cedar.Core.EntLib" />
  <container>
    <autoInterception>
      <interceptor type="TransparentProxyInterceptor" />
    </autoInterception>
    <extension type="Interception" />
    <extension type="AutoInterception" />
  </container>
</unity>