
@{
    ViewBag.Title = "CouponView";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<style type="text/css">
    #divv1 .Wdate {
        width: 100px;
    }
</style>

<script type="text/javascript">

    var id = "@ViewBag.innerid";
    var CardModel = null;
    $(function() {
        BindDDL();
        Init();

    });

    function Init() {

        if (id === "") {
            return;
        }

        $.ajax({
            url: '/api/Rewards/GetCouponById?innerid=' + id,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function(data) {

                if (data.errcode !== 0) {
                    alert("获取数据异常！");
                }

                var obj = data.errmsg;
                CardModel = obj;
                 
                $("#title").html(obj.Title);
                $("#logoimg").attr("src", getQiniuUrl(obj.Logourl));
                $("#amount").html(obj.Amount);
                $("#count").html(obj.Maxcount + "/" + obj.Count);
                $("#codetype").html(obj.Codetype);
                $("#createdtime").html(Dateformat(obj.Createdtime, "yyyy-MM-dd HH:mm:ss"));
                
                if (obj.Vtype === 1) {
                    $("#vvalue").html(Dateformat(obj.Vstart, "yyyy-MM-dd") + " 至" + Dateformat(obj.Vend, "yyyy-MM-dd"));
                } else {
                    $("#vvalue").html("领取后 " + obj.Value1 + " 天开始生效，有效天数为 " + obj.Value2 + " 天");
                }

                $("#aDelay").click(ShowDelayDiv);
            }
        });
    }

    function AddStock() {
        var addcount = $("#addcount").val();
        if ($.trim(addcount).length === 0) {
            alert("请填写需要添加的库存数量");
            return;
        }
        var json = { Innerid: id, Count: addcount };
        $.post("/api/Rewards/UpdateStock", json, function(result) {
            alert(result.errmsg);
            location.reload();
        });
    }

    function AddDelay(type) {

        var json = { Innerid: id };
        var vstart = $("#vstart").val();
        var vend = $("#vend").val();
        var value1 = $("#selectvalue1").val();
        var value2 = $("#selectvalue2").val();
        if (type === 1) {

            if ($.trim(vstart).length === 0) {
                alert("请填写开始生效时间");
                return;
            }
            if ($.trim(vend).length === 0) {
                alert("请填写有效结束时间");
                return;
            }
        } else {
            if ($.trim(value1).length === 0) {
                alert("请填写开始生效时间");
                return;
            }
            if ($.trim(value2).length === 0) {
                alert("请填写有效结束时间");
                return;
            }
        }


        $.post("/api/Rewards/UpdateStock", json, function(result) {
            alert(result.errmsg);
            location.reload();
        });
    }

    function ShowDelayDiv() {
        $("#vvalue").addClass("hide");
        $("#aDelay").addClass("hide");
        if (CardModel.Vtype === 1) {
            $("#divv1").removeClass('hide');
        } else {
            $("#divv2").removeClass('hide');
        }
    }

    function CancelDelay() {

        $("#vvalue").removeClass("hide");
        $("#aDelay").removeClass("hide");
        $("#divv1").addClass('hide');
        $("#divv2").addClass('hide');
    }

    function BindDDL() {
        var i;
        for (i = 0; i <= 90; i++) {
            $("#selectvalue1").append("<option value='" + i + "'>" + (i === 0 ? "当" : i) + "天</option>");
            $("#selectvalue2").append("<option value='" + i + "'>" + (i === 0 ? "永久有效" : (i + "天")) + "</option>");
        }
        $("#selectvalue2").append("<option value='100'>100天</option>");
    }

</script>
    <div>
        <div style="font-size:18px;font-weight:bold;text-align:center">礼券详情</div>
        <table id="coupon" class="gridtable">
            <tbody>
                <tr>
                    <td>标题</td>
                    <td id="title"></td>
                </tr>
                <tr>
                    <td>Logo</td>
                    <td>
                        <img id="logoimg" style="max-width: 150px;max-height:150px" src=""/>
                    </td>
                </tr>
                <tr>
                    <td>面值</td>
                    <td id="amount"></td>
                </tr>
                <tr>
                    <td>有效期</td>
                    <td>
                        <div>
                            <label id="vvalue"></label>
                            <a href="javascript:;" id="aDelay">延期</a>
                        </div>
                        <div id="divv1" class="margintop hide">
                            固定日期
                            <input id="vstart" class="Wdate" type="text" placeholder="开始日期" onclick="WdatePicker({ minDate: '%y-%M-%d', dateFmt: 'yyyy-MM-dd', isShowToday: false })">-
                            <input id="vend" class="Wdate" type="text" placeholder="结束日期" onclick="WdatePicker({ minDate: '%y-%M-%d', dateFmt: 'yyyy-MM-dd', isShowToday: false })">
                            <input type="button" value="确定" onclick="AddDelay(1);"/>
                            <input type="button" value="取消" onclick="CancelDelay();"/>
                        </div>
                        <div id="divv2" class="margintop hide">
                            领取后
                            <select id="selectvalue1"></select>
                            生效 ,有效天数
                            <select id="selectvalue2"></select>
                            <input type="button" value="确定" onclick="AddDelay(2);"/>
                            <input type="button" value="取消" onclick="CancelDelay();" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>库存</td>
                    <td>
                        <label id="count"></label>
                        <a href="javascript:;" onclick="$('#controls').removeClass('hide');">增加</a>
                        <div id="controls" class="margintop hide">
                            <input type="text" id="addcount" />
                            <input type="button" value="确定" onclick="AddStock();" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Code展示类</td>
                    <td id="codetype"></td>
                </tr>
                <tr>
                    <td>创建时间</td>
                    <td id="createdtime"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="button" value="返回" onclick="location.href = '/rewards/rewards/couponlist';" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

