
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<script type="text/javascript">

    $(function() {
        QueryList();
    });

    function QueryList() {
        $.get("/api/rewards/GetProductList?token=cd-u8jTQIDGYVFeGPBANpabRch5FyhzvfLCoVC_51LC5HdsnrhqUKDzQ9CsYtQKJIreqxx64ojLTrtJiMQvcW4u2KNdWJgxWNgdAi5vFZikFCOdAJAURD", function (data) {
            if (data.errcode !== 0) {
                alert("获取商品失败");
                console.log(data.errmsg);
                return;
            }

            LoadData(data.products_info, 1);
        });
    }

    function LoadData(data, index) {

        $("#productlist tbody").empty();

        var str = "";

        $.each(data, function(key, val) {
            str = "";
            str += "<tr>";
            str += "<td>" + (index + key) + "</td>";
            
            str += "<td><img style=' max-width:50px;' src='" + val.product_base.main_img.replace(/^\?wx_fmt=.$/g, "") + "' /></td>";

            var productName = val.product_base.name;

            str += "<td>" + productName + "</td>";
            str += "<td>" + val.product_id + "</td>";
            str += "<td>" + val.sku_list[0].quantity + "</td>";
            str += "<td>" + Status(val.status) + "</td>";
            str += "<td>" +
                //"<a href='/rewards/rewards/productview?productid=" + val.product_id + "'>查询详情</a> " +
                "</td>";
            str += "</tr>";
            $("#productlist tbody").append(str);
        });
    }

    function Status(status) {
        switch (status) {
        case 1:
            return "上架";
        case 2:
            return "下架";
        default:
            return "未知";
        }
    }

</script>
<div style="margin: 0 auto;">
    <div style="font-size: 18px; font-weight: bold; text-align: center">商品列表</div>
    <table style="margin: 0 auto;">
        <tr>
            <td>
                <table id="productlist" class="gridtable">

                    <thead>
                        <tr>
                            <td>序号</td>
                            <td>商品图片</td>
                            <td>商品名称</td>
                            <td>商品ID</td>                            
                            <td>库存</td>
                            <td>状态</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </td>
        </tr>
    </table>
</div>

