<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="sr.settingSource" type="Smartac.SR.Core.SettingSource.Configuration.SettingSourceSettings,Smartac.SR.Core" />
    <section name="sr.serviceLocation" type="Smartac.SR.Core.IoC.Configuration.ServiceLocationSettings,Smartac.SR.Core" />
  </configSections>
  <!--sr.settingSource-->
  <sr.settingSource defaultSettingSource="srdefaultSettingSource">
    <settingSources>
      <add name="srdefaultSettingSource" type="Smartac.SR.Core.SettingSource.SimpleFileSettingSource,Smartac.SR.Core" />
    </settingSources>
  </sr.settingSource>

  <!--sr.serviceLocation-->
  <sr.serviceLocation defaultServiceLocator="srdefaultServiceLocator">
    <serviceLocators>
      <add name="srdefaultServiceLocator" type="Smartac.SR.Core.EntLib.IoC.UnityContainerServiceLocator,Smartac.SR.Core.EntLib" />
    </serviceLocators>
    <resolvedAssemblies>
      <add assembly="Smartac.SR.Core" />
      <add assembly="Smartac.SR.Core.EntLib" />
    </resolvedAssemblies>
  </sr.serviceLocation>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <sectionExtension type="Smartac.SR.Core.EntLib.IoC.Configuration.AutoInterceptionConfigurationExtension, Smartac.SR.Core.EntLib" />
    <container>
      <extension type="Interception" />
      <extension type="AutoInterception" />
    </container>
  </unity>
</configuration>