<?xml version="1.0"?>
<typeMappings>
	<add name="CustomerManagementService" from="Smartac.SR.Modules.Customer.Interface.ICustomerManagementService, Smartac.SR.Modules.Customer.Interface"
			  to="Smartac.SR.Modules.Customer.BusinessService.CustomerManagementService, Smartac.SR.Modules.Customer.BusinessService"/>
</typeMappings>
