
@{
//Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var id = "@ViewBag.innerid";
    $(function () {
        InitTypeName();
    });
    function InitTypeName() {
        $("#selectcode").empty();
        $("#selectcode").append("<option value='0'>请选择</option>");
        $.ajax({
            url: "/api/Base/GetCodeType",
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {
                data = data.errmsg;
                $.each(data, function (k, v) {
                    $("#selectcode").append("<option value='" + v.Typekey + "'>" + v.Typename + "</option>");
                });
                Init();
            }
        });
    }
    //初始化信息
    function Init() {
        if (id === "") {
            return;
        }
        $.ajax({
            url: '/api/Base/GetCodeById?innerid=' + id,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {
                if (data.errcode !== 0) {
                    alert("获取数据异常！");
                }

                var obj = data.errmsg;
                $("#selectcode").val(obj.Typekey);
                $("#Codename").val(obj.CodeName);
                $("#Codevalue").val(obj.CodeValue);
                $("#Remark").val(obj.Remark);
            }
        });
    }
    //提交
    function Submit() {
        if (!$("#Codename").val()) {
            alert("代码类型不为空！");
            return;
        }
        if ($("#selectcode").val() == 0) {
            alert("代码类型名称不为空！");
            return;
        }
        var reg = /^\+?[1-9][0-9]*$/;
        if (!$("#Codevalue").val()) {
            alert("代码值不为空！");
            return;
        }
        else {
            if (!reg.test($("#Codevalue").val())) {
                alert("代码值格式输入不正确！");
                return;
            }
        }
        var json = {
            Typekey: $("#selectcode").val(),
            CodeName: $("#Codename").val(),
            CodeValue: $("#Codevalue").val(),
            Remark: $("#Remark").val(),
        };
        if (id === "") {
            $.post("/api/Base/AddCode", json, function (result) {
                debugger
                var str = result.errcode === 0 ? "添加成功" : "添加失败";
                if (result.errcode != 0) {
                    alert(result.errmsg);
                }
                else {
                    alert(str);
                }
                getBodyHtml('mainbody', '/System/System/BaseCodeList');
            });
        }
        else {
            json.Innerid = id;
            $.ajax({
                url: '/api/Base/UpdateCode',
                type: 'post',
                datatype: 'application/json',
                data: json,
                async: false,
                success: function (result) {
                    var str = result.errcode === 0 ? "更新成功" : "更新失败";
                    if (result.errcode != 0) {
                        alert(result.errmsg);
                    }
                    else {
                        alert(str);
                    }
                    getBodyHtml('mainbody', '/System/System/BaseCodeList');
                }
            });
        }
    }
</script>
<div class="widget">
    <div class="widget-header bordered-bottom bordered-palegreen">
        <span class="widget-caption">基础数据代码值编辑</span>
    </div>
    <div class="widget-body">
        <div>
            <form class="form-horizontal form-bordered" role="form">
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>代码类型名称</label>
                            <div class="controls col-sm-10">
                                <select id="selectcode">
                                    <option value="0">请选择</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>代码名称</label>
                            <div class="controls col-sm-10">
                                <input type="text" id="Codename" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>代码值</label>
                            <div class="controls col-sm-10">
                                <input type="text" id="Codevalue" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">备注</label>
                            <div class="controls col-sm-10">
                                <textarea id="Remark" maxlength="200" rows="5" onclose="150" placeholder="备注" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
                <div class="row form-group text-center">
                    <div class="col-lg-12">
                        <input type="button" class="btn btn-palegreen shiny" value="保存" onclick="Submit();" />
                        <input type="button" class="btn btn-primary shiny" value="返回" onclick="getBodyHtml('mainbody', '/System/System/BaseCodeList');" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
