
@{
//ViewBag.Title = "CarSeriesEdit";
//Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var id = "@ViewBag.innerid";
    $(function () {
        Init();
    });
    //初始化信息
    function Init() {
        if (id === "") {
            return;
        }
        $.ajax({
            url: '/api/Base/GetCodeTypeById?innerid=' + id,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {

                if (data.errcode !== 0) {
                    alert("获取数据异常！");
                }

                var obj = data.errmsg;
                $("#Typename").val(obj.Typename);
                $("#Typekey").val(obj.Typekey);
            }
        });
    }
    //提交
    function Submit() {

        if (!$("#Typename").val()) {
            alert("代码类型名称不为空！");
            return;
        }
        if (!$("#Typekey").val()) {
            alert("代码类型key不为空！");
            return;
        }
        var json = {
            Typename: $("#Typename").val(),
            Typekey: $("#Typekey").val(),
        };
        if (id === "") {
            $.post("/api/Base/AddCodeType", json, function (result) {
                var str = result.errcode === 0 ? "添加成功" : "添加失败";
                if (result.errmsg != 1) {
                    alert(result.errmsg);
                }
                else {
                    alert(str);
                }
                getBodyHtml('mainbody', '/System/System/BaseCodeTypeList');
            });
        }
        else {
            json.Innerid = id;
            $.ajax({
                url: '/api/Base/UpdateCodeType',
                type: 'post',
                datatype: 'application/json',
                data: json,
                async: false,
                success: function (result) {
                    var str = result.errcode === 0 ? "更新成功" : "更新失败";
                    if (result.errmsg != 1) {
                        alert(result.errmsg);
                    }
                    else {
                        alert(str);
                    }
                    getBodyHtml('mainbody', '/System/System/BaseCodeTypeList');
                }
            });
        }
    }
</script>

<div class="widget">
    <div class="widget-header bordered-bottom bordered-palegreen">
        <span class="widget-caption">基础数据代码类型编辑</span>
    </div>
    <div class="widget-body">
        <div>
            <form class="form-horizontal form-bordered" role="form">
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>代码类型名称</label>
                            <div class="controls col-sm-10">
                                <input type="text" id="Typename" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>代码类型key</label>
                            <div class="controls col-sm-10">
                                <input type="text" id="Typekey" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
                <div class="row form-group text-center">
                    <div class="col-lg-12">
                        <input type="submit" class="btn btn-palegreen shiny" value="保存" onclick="Submit();" />
                        <input type="button" class="btn btn-primary shiny" value="返回" onclick="getBodyHtml('mainbody', '/System/System/BaseCodeTypeList');" />
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
            