
@{
//ViewBag.Title = "CarSeriesView";
//Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var id = "@ViewBag.innerid";
    $(function () {
        Init();
    });
    function Init() {

        if (id === "") {
            return;
        }
        $.ajax({
            url: '/api/Base/GetCodeTypeById?innerid=' + id,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {
                if (data.errcode !== 0) {
                    alert("获取数据异常！");
                }
                var obj = data.errmsg;
                $("#Typename").html(obj.Typename);
                $("#Typekey").html(obj.Typekey);
                if (obj.Isenabled === 1) {
                    $("#Isenabled").text("启用中");
                }
                else {
                    $("#Isenabled").text("禁用中");
                }
            }
        });
    }
</script>

<div class="widget">
    <div class="widget-header bordered-bottom bordered-palegreen">
        <span class="widget-caption">基础数据代码类型</span>
    </div>
    <div class="widget-body">
        <div>
            <form class="form-horizontal form-bordered" role="form">
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>代码类型名称</label>
                            <div class="controls col-sm-10">
                                <span type="text" id="Typename" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>代码类型key</label>
                            <div class="controls col-sm-10">
                                <span type="text" id="Typekey" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">是否可用</label>
                            <div class="controls col-sm-10">
                                <span type="text" id="Isenabled" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
                <div class="row form-group text-center">
                    <div class="col-lg-12">
                        <input type="button" class="btn btn-primary shiny" value="返回" onclick="getBodyHtml('mainbody', '/System/System/BaseCodeTypeList');" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



