
@{
    Layout = null;
}

<script type="text/javascript">

    var id = "@ViewBag.innerid";

    $(function () {
        Init();
    });

    //初始化数据
    function Init() {
        if (id == "") {
            return false;
        }
        $.ajax({
            url: '/api/Base/GetRoleInfoByID?innerid=' + id,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {
                if (data.errcode !== 0) {
                    alert("获取数据异常！");
                }

                var obj = data.errmsg;
                $("#name").val(obj.name),
                $("#remark").val(obj.remark),
                $("#selectstatus").selectVal(obj.isenabled)

            }
        });
    }

    //提交数据
    function Submit() {
        //判断是否填入用户名
        if ($("#name").val() == "") {
            alert("请输入角色名！");
            return;
        }
        var json = {
            name: $("#name").val(),
            remark: $("#remark").val(),
            isenabled: $("#selectstatus").val()
        };

        if (id === "") {
            $.post("/api/Base/AddRole", json, function (result) {
                var str = result.errcode === 0 ? "添加成功" : result.errmsg;
                alert(str);
                getBodyHtml('mainbody', '/system/system/SysRoleList');
            });
        } else {
            json.Innerid = id;
            $.ajax({
                url: '/api/Base/UpdateRole',
                type: 'post',
                datatype: 'application/json',
                data: json,
                async: false,
                success: function (result) {
                    var str = result.errcode === 0 ? "更新成功" : result.errmsg;
                    alert(str);
                    getBodyHtml('mainbody', '/system/system/SysRoleList');
                }
            });
        }
    }

</script>

<div class="widget">
    <div class="widget-header bordered-bottom bordered-palegreen">
        <span class="widget-caption">用户信息</span>
    </div>
    <div class="widget-body">
        <div>
            <form class="form-horizontal form-bordered" role="form">
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>角色名：</label>
                            <div class="controls col-sm-10">
                                <input type="text" id="name" class="form-control" placeholder="角色名" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">状态：</label>
                            <div class="controls col-sm-10">
                                <select id="selectstatus" style="width: 100%;">
                                    <option value="0">无效</option>
                                    <option value="1" selected>有效</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="remark" class="col-sm-1 control-label no-padding-right">备注：</label>
                            <div class="col-sm-11">
                                <textarea id="remark" maxlength="200" rows="5" cols="150"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group text-center">
                    <div class="col-lg-12">
                        <input type="button" class="btn btn-palegreen shiny" value="保存" onclick="Submit()" />
                        <input type="button" class="btn btn-primary shiny" value="返回" onclick="getBodyHtml('mainbody', '/system/system/SysRoleList');" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>