
@{
    Layout = null;
}

<script type="text/javascript">

    var id = "@ViewBag.innerid";

    $(function () {

    });

    function Submit() {
        //判断是否填入用户名
        if ($("#username").val() == "") {
            alert("请输入用户名！");
            return;
        }
        //判断是否填入登入名
        if ($("#loginname").val() == "") {
            alert("请输入登入名！");
            return;
        }
        //判断两次输入密码是否一致
        if ($("#pwd").val() != "" && $("#pwdsure").val() != "") {
            if ($("#pwd").val() != $("#pwdsure").val()) {
                alert("两次输入密码不一致！");
                return;
            }
        }
        else {
            alert("请将密码信息填写完整！");
            return;
        }

        var json = {
            username: $("#username").val(),
            loginname: $("#loginname").val(),
            password: $("#pwd").val(),
            mobile: $("#mobile").val(),
            telephone: $("#telephone").val(),
            email: $("#email").val(),
            status: $("#selectstatus").val()
        };

        if (id === "") {
            $.post("/api/Base/AddUser", json, function (result) {
                var str = result.errcode === 0 ? "添加成功" : "添加失败";
                alert(str);
                getBodyHtml('mainbody', '/system/system/SysRoleList');
            });
        } else {
            json.Innerid = id;
            $.ajax({
                url: '/api/Base/UpdateUser',
                type: 'put',
                datatype: 'application/json',
                data: json,
                async: false,
                success: function (result) {
                    var str = result.errcode === 0 ? "更新成功" : "更新失败";
                    alert(str);
                    getBodyHtml('mainbody', '/system/system/SysRoleList');
                }
            });
        }
    }

</script>

<div class="widget">
    <div class="widget-header bordered-bottom bordered-palegreen">
        <span class="widget-caption">用户信息</span>
    </div>
    <div class="widget-body">
        <div>
            <form class="form-horizontal form-bordered" role="form">
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label no-padding-right">角色名：</label>
                            <div class="controls col-sm-10">
                                <input type="text" id="username" class="form-control" placeholder="角色名" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">状态：</label>
                            <div class="controls col-sm-10">
                                <select id="selectstatus" style="width: 100%;">
                                    <option value="0">无效</option>
                                    <option value="1" selected>有效</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="remark" class="col-sm-1 control-label no-padding-right">备注：</label>
                            <div class="col-sm-11">
                                <textarea id="remark" maxlength="200" rows="5" cols="150"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group text-center">
                    <div class="col-lg-12">
                        <input type="button" class="btn btn-palegreen shiny" value="保存" onclick="Submit()" />
                        <input type="button" class="btn btn-primary shiny" value="返回" onclick="getBodyHtml('mainbody', '/system/system/SysRoleList');" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>