
@{
    Layout = null;
}

<script src="~/Scripts/multiple-select.js"></script>
<link href="~/Content/multiple-select.css" rel="stylesheet" />

<script type="text/javascript">

    var id = "@ViewBag.innerid";

    $(function () {

        InitCity();
        Init();
        InitRoleBox();

    });

    //初始化基本信息
    function Init() {
        if (id == "") {
            return false;
        }
        $.ajax({
            url: '/api/Base/GetUserInfoByID?innerid=' + id,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {
                if (data.errcode !== 0) {
                    alert("获取数据异常！");
                }

                var obj = data.errmsg;

                $("#username").val(obj.username);
                $("#loginname").val(obj.loginname);
                $("#pwd").val(obj.password);
                $("#pwdsure").val(obj.password);
                $("#mobile").val(obj.mobile);
                $("#telephone").val(obj.telephone);
                $("#email").val(obj.email);
                $("#selectstatus").selectVal(obj.status);
                $("#selectdep").selectVal(obj.depid);
                $("#selectlevel").selectVal(obj.level);
                
            }
        });
    }

    //保存基本信息
    function Submit() {

        //判断是否填入用户名
        if ($("#username").val() == "") {
            alert("请输入用户名！");
            return;
        }
        //判断是否填入登入名
        if ($("#loginname").val() == "") {
            alert("请输入登入名！");
            return;
        }
        //判断两次输入密码是否一致
        if ($("#pwd").val() != "" && $("#pwdsure").val() != "") {
            if ($("#pwd").val() != $("#pwdsure").val()) {
                alert("两次输入密码不一致！");
                return;
            }
        }
        else {
            alert("请将密码信息填写完整！");
            return;
        }

        //手机号验证
        if (!checkMobie($("#mobile").val())) {
            alert("请输入正确的手机号！");
            return;
        }
        //邮箱验证
        if ($("#email").val() != "" && checkEmial($("#email").val())) {
            alert("请输入正确的邮箱账号！");
            return;
        }

        //
        var json = {
            username: $("#username").val(),
            loginname: $("#loginname").val(),
            password: $("#pwd").val(),
            mobile: $("#mobile").val(),
            telephone: $("#telephone").val(),
            email: $("#email").val(),
            status: $("#selectstatus").val(),
            depid: $("#selectdep").val(),
            level: $("#selectlevel").val()
        };
        if (id === "") {
            $.post("/api/Base/AddUser", json, function (result) {
                if (result.errcode === 0) {
                    alert("添加成功");
                    getBodyHtml('mainbody', '/system/system/SysUserList');
                } else {
                    alert("添加失败");
                }
            });
        } else {
            json.Innerid = id;
            $.ajax({
                url: '/api/Base/UpdateUser',
                type: 'post',
                datatype: 'application/json',
                data: json,
                async: false,
                success: function (result) {
                    var str = result.errcode === 0 ? "更新成功" : result.errmsg;
                    alert(str);
                    getBodyHtml('mainbody', '/system/system/SysUserList');
                }
            });
        }
    }

    //初始化角色框
    function InitRoleBox() {
        $.post("/api/Base/GetAllRole", null, function (result) {
            var data = result.errmsg;
            var roleHtml = "";
            $.each(data, function (key, val) {
                roleHtml += "<label><input type='checkbox' data-type='rolebox' value='" + val.innerid + "'><span class='text'>" + val.name + "</span></label>&nbsp;&nbsp;";
            });
            $("#rolebox").append(roleHtml);
            GetRole();
        });
    }

    //保存选中的角色
    function SaveRole() {
        var strRole = "";
        $("input[data-type='rolebox']:checked").each(function () {
            strRole += this.value + ",";
        });

        var json = {};
        json.userid = id;
        json.roleid = strRole;
        $.post("/api/Base/AddUserRole", json, function (result) {
            var str = result.errcode === 0 ? "保存成功" : "保存失败";
            if (result.errcode != 0) {
                alert(result.errmsg);
            }
            else {
                alert(str);
            }
        });

        var jsondep = {};
        jsondep.userid = id;
        jsondep.ids = $("#citySelect").val();
        //保存职员对应部门
        $.post("/api/Base/AddUserDepartment", jsondep, function (result) {
            var str = result.errcode === 0 ? "保存成功" : "保存失败";
            if (result.errcode != 0) {
                alert(result.errmsg);
            }
            else {
                alert(str);
            }
        });
    }

    //获取角色信息
    function GetRole() {
        if (id != "") {
            $.ajax({
                url: '/api/Base/GetRoleByUerid?userid=' + id,
                type: 'get',
                datatype: 'application/json',
                async: false,
                success: function (result) {
                    if (result.errcode !== 0) {
                        alert("获取数据异常！");
                    }

                    var data = result.errmsg;
                    $.each(data, function (key, val) {
                        $("input[data-type='rolebox']").each(function () {
                            if (this.value == val.roleid) {
                                $(this).prop("checked", "checked");
                            }
                        });
                    });

                }
            });
        }
    }

    //初始化城市信息
    function InitCity() {
        $("#citySelect").empty();
        $.ajax({
            url: "/api/Base/GetAllDepartment",
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {
                data = data.errmsg;
                $.each(data, function (k, v) {
                    $("#citySelect").append("<option value='" + v.code + "'>" + v.name + "</option>");
                });

                //多选框
                $('#citySelect').multipleSelect({
                    placeholder: "请选择",
                    selectAll: false
                });

                GetCity();
            }
        });

    }

    //获取城市信息
    function GetCity() {
        if (id != "") {
            $.ajax({
                url: '/api/Base/GetUserToDepartment?userid=' + id,
                type: 'get',
                datatype: 'application/json',
                async: false,
                success: function (result) {
                    if (result.errcode !== 0) {
                        alert("获取数据异常！");
                    }

                    arr = result.errmsg;
                    $.each(arr, function (key, val) {
                        $("option").each(function () {
                            if (this.value == val.cityid) {
                                $("#citySelect option[value='" + val.cityid + "']").attr("selected", "selected");
                            }
                        });
                    });
                    $('#citySelect').multipleSelect({
                        placeholder: "请选择",
                        selectAll: false
                    });
                }
            });
        }
    }

</script>
<div class="widget">
    <div class="widget-header bordered-bottom bordered-palegreen">
        <span class="widget-caption">用户信息</span>
    </div>
    <div class="widget-body">
        <div>
            <form class="form-horizontal form-bordered" role="form">
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>用户名：</label>
                            <div class="controls col-sm-10">
                                <input type="text" id="username" class="form-control" placeholder="用户名" maxlength="20" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="loginname" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>登录名：</label>
                            <div class="controls col-sm-10">
                                <input type="text" id="loginname" class="form-control" placeholder="登录名" maxlength="20" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="pwd" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>密码：</label>
                            <div class="controls col-sm-10">
                                <input type="password" id="pwd" class="form-control" placeholder="密码" maxlength="20" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="pwdsure" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>确认密码：</label>
                            <div class="controls col-sm-10">
                                <input type="password" id="pwdsure" class="form-control" placeholder="确认密码" maxlength="20" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">所属部门：</label>
                            <div class="controls col-sm-10">
                                <select id="selectdep" style="width: 100%;">
                                    <option value="5dda1700-9cb8-11e5-87ae-000c2977415d">苏州</option>
                                    <option value="705dd54c-9cb8-11e5-87ae-000c2977415d">南京</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">级别：</label>
                            <div class="controls col-sm-10">
                                <select id="selectlevel" style="width: 100%;">
                                    <option value="1">一级</option>
                                    <option value="2">二级</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="mobile" class="col-sm-2 control-label no-padding-right">手机号：</label>
                            <div class="controls col-sm-10">
                                <input type="tel" id="mobile" class="form-control" placeholder="手机号" maxlength="11" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="telphone" class="col-sm-2 control-label no-padding-right">电话号码：</label>
                            <div class="controls col-sm-10">
                                <input type="tel" id="telphone" class="form-control" placeholder="电话号码" maxlength="12" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label no-padding-right">邮箱：</label>
                            <div class="controls col-sm-10">
                                <input type="email" id="email" class="form-control" placeholder="邮箱" maxlength="45" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label no-padding-right">状态：</label>
                            <div class="controls col-sm-10">
                                <select id="selectstatus" style="width: 100%;">
                                    <option value="0">无效</option>
                                    <option value="1" selected>有效</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group text-center">
                    <div class="col-lg-12">
                        <input type="button" class="btn btn-palegreen shiny" value="保存" onclick="Submit()" />
                        <input type="button" class="btn btn-primary shiny" value="返回" onclick="getBodyHtml('mainbody', '/rewards/rewards/SysUserList');" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="widget">
    <div class="widget-header bordered-bottom bordered-palegreen">
        <span class="widget-caption">更多信息</span>
    </div>
    <div class="widget-body">
        <div>
            <form class="form-horizontal form-bordered" role="form">

                <div class="row form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="role" class="col-sm-2 control-label no-padding-right">角色：</label>
                            <div class="controls col-sm-10">
                                <div class="item-check" style="padding-top:5px;" id="rolebox">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="control-label col-xs-1" for="sel_search_orderstatus5">选择城市:</label>
                            <div class="col-xs-2 ck" style="margin-top:7px;">
                                <select id="citySelect" style="width:150px" multiple="multiple"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group text-center">
                    <div class="col-lg-12">
                        <input type="button" class="btn btn-palegreen shiny" value="保存" onclick="SaveRole()" />
                        <input type="button" class="btn btn-primary shiny" value="返回" onclick="getBodyHtml('mainbody', '/rewards/rewards/SysUserList');" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
