
@{
    ViewBag.Title = "CustWeChatList";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<script type="text/javascript">
    $(function () {
        QueryList();
    });
    debugger
    function QueryList() {
        var json = { accountid: $("#title").val() };
        $("#cust_wechatlist").getPageList(20, "/api/Customer/GetCustWeChatList", json, LoadData);
    }
    function LoadData(data, index) {
        $("#cust_wechatlist tbody").empty();
        var str = "";
        $.each(data, function (key, val) {
            str = "";
            str += "<tr>";
            str += "<td>" + (index + key) + "</td>";
            str += "<td>" + (val.accountid == null ? "" : val.accountid.sub(400)) + "</td>";
            str += "<td>" + val.nickname + "</td>";
            str += "<td>" + val.openid + "</td>";
            str += "<td>" + val.remarkname + "</td>";
            str += "<td>" + (val.sex === 1 ? "男" : "女") + "</td>";
            str += "<td>" + val.createdtime + "</td>";
            str += "</tr>";
            $("#cust_wechatlist tbody").append(str);
        });
    }
</script>
<div style="margin:0 auto">
    <div style="font-size:18px;font-weight: bold; text-align: center">wechat_friend</div>
    <table style="margin:0 auto">
        <tr>
            <td>
                搜索字段:<input type="tel" id="title" /><input type="button" value="搜索" onclick="QueryList();" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table id="cust_wechatlist" class="gridtable">
                    <thead>
                        <tr>
                            <td>
                                id
                            </td>
                            <td>
                                accountid
                            </td>
                            <td>
                                昵称
                            </td>
                            <td>
                               openid
                            </td>
                            <td>
                                备注名称
                            </td>
                            <td>
                               性别
                            </td>
                            <td>
                                创建时期
                            </td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </td>
        </tr>
    </table>

</div>